<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
%>
<div id="task-history-wrapper"  class="gc_data_section">
    <div class="gc_task_history_text">
        <div class="gc_task_history_text_left">
            % if reminder_mail_flg:
                <h2>${_("Send emails Result")}</h2>
            % else:
                <h2>${_("Register Result")}</h2>
            % endif
        </div>
        <div class="gc_task_history_text_right">
            <span>${_("To check the result, please push the update button.")}</span>
            <button id="task-reload-btn" class="btn" disabled>&#xf1da ${_("Update")}</button>
        </div>
    </div>
    <div id="task-history-grid" class="gc_task_history_grid"></div>
</div>
<script type="text/javascript">
    var grid = grid || [];
    var task_grid;
    $(function () {
        task_grid = $('#task-history-grid').w2grid({
            name: 'task_history_grid',
            fixedBody: true,
            selectType : 'row',
            show: {
                footer: true,
            },
            columns: [
                {field: 'task_type', caption: '${_("Task Type")}', size: '13%', hidden: false},
                {field: 'task_state', caption: '${_("State")}', size: '6%', hidden: false},
                {field: 'task_result', caption: '${_("Execution Result")}', size: '40%', hidden: false},
                {field: 'requester', caption: '${_("Execution Username")}', size: '13%', hidden: false},
                {field: 'created', caption: '${_("Execution Datetime")}', size: '20%', hidden: false},
            ],
            onExpand: function(e) {
                var target = task_grid.get(e.recid), messages = target.messages;
                if (messages.length === 0) {
                    messages = [{ recid: -1, message: '${_("No messages.")}' }];
                }
                if (w2ui.hasOwnProperty('subgrid-' + e.recid)) {
                    w2ui['subgrid-' + e.recid].destroy();
                }
                $('#'+ e.box_id).css({ margin: '0px', padding: '0px', width: '100%' }).animate({ height: '105px' }, 100);
                setTimeout(function () {
                    var message_grid = $('#'+ e.box_id).w2grid({
                        name: 'subgrid-' + e.recid,
                        show: { columnHeaders: false },
                        fixedBody: true,
                        columns: [
                            { field: 'message', size: '100%', hidden: false },
                        ],
                        records: messages,
                        onDblClick: function(e) {
                            if (e.recid != -1) {
                                w2popup.open({
                                    title: w2utils.lang('Notification'),
                                    body: '<div class="red" style="font-size: 1rem;">' + message_grid.get(e.recid).message + '</div>',
                                    width: 600,
                                    height: 240,
                                });
                            }
                        }
                    });
                    w2ui['subgrid-' + e.recid].resize();
                }, 300);
            }
        });

        var reload_btn = $('#task-reload-btn');
        task_grid.load('${reverse("biz:contract_operation:task_history")}', function () {
            reload_btn.prop('disabled', false);
        });

        reload_btn.on('click', function() {
            reload_btn.prop('disabled', true);
            task_grid.load('${reverse("biz:contract_operation:task_history")}', function() {
                reload_btn.prop('disabled', false);
            });
        });

        if ($.isArray(grid)) { grid.push(task_grid); } else { grid = task_grid; }
    });
</script>
