<%inherit file="../main_biz.html" />
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
%>

<%block name="pagetitle">${_("Unregister, Mask")}</%block>

<%block name="js_extra">
<script type="text/javascript">
    $(function () {
        $('#form').w2form({ name: 'form' });
        $('.w2ui-buttons').on('click', '.bulk-operation', function () {
            var clickButton = $(this),  lockForm = $('#form'), messages = $('.messages');
            messages.empty();
            if ($('#list-students').val() == '') {
                messages.append('<li class="error">${_("Could not find student list.")}</li>');
                return;
            }
            w2confirm({
                msg: clickButton.data('confirm-message'),
                yes_class: 'btn-right',
                no_class: 'btn-left'
            }).yes(function () {
                w2utils.lock(lockForm, '', true);
                $.ajax({
                    url: clickButton.data('endpoint'),
                    type: 'POST',
                    data: {
                        students_list: $('#list-students').val(),
                        contract_id: ${request.current_contract.id},
                    }
                }).done(function (data) {
                    messages.append('<li class="info">' + data.info + '</li>');
                }).fail(function(jqXHR) {
                    var data = JSON.parse(jqXHR.responseText);
                    messages.append('<li class="error">' + data.error + '</li>');
                }).always(function () {
                    w2utils.unlock(lockForm);
                });
            });
        });
    });
</script>
<style>
  .content-wrapper {
    min-height: 650px;
  }
</style>
</%block>

<%block name="custom_content">
<div id="form" class="field-area">
    <div class="w2ui-page page-0">
        <div class="field">
          <span class="operation">${_("To use a list of users in this course, contains the following columns in this : username. Please include one student per row and do not include any headers, footers, or blank lines.")}</span>
        </div>
        <div class="field">
            <span class="operation red">${_("Once can be specified number is {max_bulk_students_number}.").format(max_bulk_students_number=max_bulk_students_number)}</span>
        </div>
        <div class="field">
            <textarea id="list-students" name="students_list" rows="12" placeholder="gaccotarou"></textarea>
        </div>
    </div>
    <div class="w2ui-buttons">
        <input type="button" id="bulk-unregister-btn" class="bulk-operation" data-confirm-message="${_('Do the bulk students unregister. Are you sure?')}" data-endpoint="${reverse('biz:contract_operation:bulk_unregister_students_ajax')}" value="&#xf014 ${_('Unregister Student')}" />
        <input type="button" id="bulk-personalinfo-mask-btn" class="bulk-operation" data-confirm-message="${_('After execution of the personal information mask processing, it can not be undone. Are you sure?')}" data-endpoint="${reverse('biz:contract_operation:bulk_personalinfo_mask_ajax')}" value="&#xf235 ${_('Personal Information Mask')}" />
    </div>
</div>
<br/>
<br/>
<%include file="_task_history.html" />
</%block>
