<%inherit file="../main_biz.html" />
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse

from biz.djangoapps.ga_invitation.models import REGISTER_INVITATION_CODE
%>

<%block name="pagetitle">${_("Register Students")}</%block>

<%block name="js_extra">
<script type="text/javascript">
    $(function () {
        $('#form').w2form({ name: 'form' });
        $('#register-status>input[type="checkbox"]').on('click', function() {
            if ($(this).prop('checked')) {
                w2popup.open({
                    title: w2utils.lang('Confirmation'),
                    body: '<div class="w2ui-centered">${_("The user will be taking courses, immediately.<br/>If you have several contracts, please confirm the detail before submit.")}</div>',
                    width: 540,
                    height: 240,
                    buttons: '<button class="w2ui-popup-btn btn" onclick="w2popup.close();">'+w2utils.lang('Ok')+'</button>',
                });
            }
        });
        $('.w2ui-buttons').on('click', '#register-btn', function () {
            var clickButton = $(this), messages = $('.messages'), registerForm = $('#form'), registerStatus = $('#register-status>input[type="checkbox"]');
            messages.empty();
            if ($('#list-students').val() == '') {
                messages.append('<li class="error">${_("Could not find student list.")}</li>');
                return;
            }
            w2confirm({
                msg: clickButton.data('confirm-message'),
                yes_class: 'btn-right',
                no_class: 'btn-left'
            }).yes(function () {
                w2utils.lock(registerForm, '', true);
                $.ajax({
                    url: clickButton.data('endpoint'),
                    type: 'POST',
                    data: {
                        students_list: $('#list-students').val(),
                        contract_id: clickButton.data('contract-id'),
                        register_status: (registerStatus.prop('checked') ? registerStatus.val() : ''),
                    }
                }).done(function (data) {
                    messages.append('<li class="info">' + data.info + '</li>');
                }).fail(function(jqXHR) {
                    var data = JSON.parse(jqXHR.responseText);
                    messages.append('<li class="error">' + data.error + '</li>');
                }).always(function () {
                    w2utils.unlock(registerForm);
                });
            });
        });
    });
</script>
<style>
  .content-wrapper {
    min-height: 650px;
  }
  #register-status {
    font-style: normal;
  }
</style>
</%block>

<%block name="custom_content">
<div id="form" class="field-area">
    <div class="w2ui-page page-0">
        <div class="field">
          %if hasattr(request.current_contract, 'contractauth'):
            <span class="operation">${_("To register a list of users in this course, contains the following columns in this exact order: email, username, name, login code, and password. Please include one student per row and do not include any headers, footers, or blank lines.")}</span>
          %else:
            <span class="operation">${_("To register a list of users in this course, contains the following columns in this exact order: email, username, and name. Please include one student per row and do not include any headers, footers, or blank lines.")}</span>
          %endif
        </div>
        <div class="field">
            <span class="operation red">${_("Once can be registered number is {max_register_number}.").format(max_register_number=max_register_number)}</span>
        </div>
        <div class="field">
            <textarea id="list-students" name="students_list" rows="12" placeholder="${_("username1@domain.com,gaccotarou,gacco taro,gacco,Gacco12345") if hasattr(request.current_contract, 'contractauth') else _("username1@domain.com,gaccotarou,gacco taro")}"></textarea>
        </div>
        <div class="field">
            <label id="register-status"><input type="checkbox" name="register_status" value="${REGISTER_INVITATION_CODE}"/>${_("Register with the invitation code. (Unnecessary invitation code by user)")}</label>
        </div>
    </div>
    <div class="w2ui-buttons">
        <input type="button" id="register-btn" data-endpoint="${reverse('biz:contract_operation:register_students_ajax')}" data-confirm-message="${_('Do the bulk students register. Are you sure?')}" data-contract-id="${request.current_contract.id}" value="&#xf044 ${_('Register Signup')}"/>
    </div>
</div>
<%include file="_task_history.html" />
</%block>
