<%inherit file="../main_biz.html" />
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
%>

<%block name="pagetitle">${_("Students List")}</%block>

<%block name="js_extra">
<script type="text/javascript">
    $(function () {
        var grid = $('#grid').w2grid({
                name: 'student_grid',
                fixedBody: true,
                selectType : 'row',
                show: {
                    toolbar: true,
                    footer: true,
                    selectColumn: true,
                    toolbarReload: false
                },
                multiSearch: false,
                searches: [
                    {field: 'contract_register_status', caption: '${_("Contract Register Status")}', type: 'list', options: {items: ${status_list}}},
                    {field: 'full_name', caption: '${_("Full Name")}', type: 'text'},
                    {field: 'user_name', caption: '${_("Username")}', type: 'text'},
                    {field: 'user_email', caption: '${_("Email Address")} ', type: 'text'},
                ],
                columns: [
                    {field: 'contract_register_status', caption: '${_("Contract Register Status")}', size: 1, sortable: true, hidden: false},
                    {field: 'full_name', caption: '${_("Full Name")}', size: 2, sortable: true, hidden: false},
                    {field: 'user_name', caption: '${_("Username")}', size: 2, sortable: true, hidden: false},
                    {field: 'user_email', caption: '${_("Email Address")}', size: 3, sortable: true, hidden: false},
                ],
                records: ${show_list},
                getSelectionRecords: function() {
                    var gridSelection = this.getSelection(), returnRows = [];
                    $.each(this.records, function(index, value) {
                        if (gridSelection.indexOf(value.recid) != -1) {
                            returnRows.push(value);
                        }
                    });
                    return returnRows;
                }
            }),
            taskHistoryGrid = $('#task-history-grid').w2grid({
                name: 'task_history_grid',
                fixedBody: true,
                selectType : 'cell',
                show: {
                    footer: true,
                },
                columns: [
                    {field: 'task_type', caption: '${_("Task Type")}', size: '20%', hidden: false},
                    {field: 'task_state', caption: '${_("State")}', size: '10%', hidden: false},
                    {field: 'task_result', caption: '${_("Execution Result")}', size: '30%', hidden: false},
                    {field: 'requester', caption: '${_("Execution Username")}', size: '15%', hidden: false},
                    {field: 'created', caption: '${_("Execution Datetime")}', size: '25%', hidden: false},
                ]
            });
        grid.searches = grid.searches.concat(${additional_searches});
        grid.columns = grid.columns.concat(${additional_columns});
        grid.refresh();
        $('.grid-operation').click(function () {
            var clickButton = $(this), gridSelectionRecords = grid.getSelectionRecords(), messages = $('.messages');
            messages.empty();
            if (gridSelectionRecords.length === 0) {
                messages.append('<li class="error">' + gettext("Please select a target.") + '</li>');
                return;
            }
            w2confirm({
                msg: clickButton.data('confirm-message'),
                yes_class: 'btn-right',
                no_class: 'btn-left'
            }).yes(function () {
                var lockTarget = $('div.main'), targetList = [];
                $.each(gridSelectionRecords, function(i, row) {
                    targetList.push(row.contract_register_id);
                });
                w2utils.lock(lockTarget, '', true);
                $.ajax({
                    url: clickButton.data('endpoint'),
                    type: 'post',
                    traditional: true,
                    data: {
                        target_list: targetList,
                        contract_id: ${request.current_contract.id},
                    },
                    dataType: 'json',
                }).done(function(data) {
                    if (data.show_list) {
                        grid.records = data.show_list;
                        grid.refresh();
                    }
                    messages.append('<li class="info">' + data.info + '</li>');
                    if (data.warning != null) {
                        messages.append('<li class="warning">' + data.warning + '</li>');
                    }
                }).fail(function(jqXHR) {
                    var data = JSON.parse(jqXHR.responseText);
                    messages.append('<li class="error">' + data.error + '</li>');
                }).always(function() {
                    w2utils.unlock(lockTarget);
                });
            });
        });
        $('#task-history-btn').click(function() {
            var $grid = $('#task-history-grid');
            w2ui['task_history_grid'].load('${reverse("biz:contract_operation:task_history")}', function() {
                var $wrapper = $('.content-wrapper');
                $wrapper.height($wrapper.height() + $grid.height());
                $grid.show();
            });
        });
    });
</script>
<style>
  .content-wrapper {
    min-height: 650px;
  }
  #task-history-wrapper {
    margin-top: 30px;
  }
  #task-history-wrapper h2 {
    margin-bottom: 0;
  }
  #task-history-wrapper .description {
    margin-top: 10px;
  }
  #task-history-grid {
    min-width: 920px;
    width: 98%;
    height: 200px;
    margin: 15px 0 0 0;
    display: none;
  }
</style>
</%block>

<%block name="custom_content">
<div id="grid"></div>

<input type="button" id="unregister-btn" class="grid-operation" data-confirm-message="${_("After the batch unregister, it can not be undone. Are you sure?")}" data-endpoint="${reverse('biz:contract_operation:unregister_students_ajax')}" value="&#xf014 ${_('Unregister Student')}" />
<input type="button" class="grid-operation" data-confirm-message="${_('After execution of the personal information mask processing,, it can not be undone. Are you sure?')}" data-endpoint="${reverse('biz:contract_operation:personalinfo_mask')}" value="&#xf235 ${_('Personal Information Mask')}" />

<div id="task-history-wrapper">
  <h2>${_("Task History")}</h2>
  <p class="description">${_("To see the status of the tasks that have been run in the background, please click this button.")}</p>
  <input type="button" id="task-history-btn" value="&#xf1da ${_("Show Task History")}">
  <div id="task-history-grid"></div>
</div>
</%block>
