<%inherit file="../main.html" />
<%namespace name='static' file='/static_content.html'/>

<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
from courseware.courses import get_course_about_section, get_course_by_id
from shoppingcart.processors.GMO import create_order_id
from ga_advanced_course.models import AdvancedCourseTypes
%>

<%block name="pagetitle">${_("Your Ticket")}</%block>

<%block name="headextra">
<style>
  ## This style is need for toggle
  .toggleArea {
    display: none;
    position: relative;
    overflow: hidden;
  }
  .bg_linear:after {
    content: '';
    display: block;
    height: 50px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
</style>
<script>
$(function () {
    var $toggleArea = $('.toggleArea'),
        $showMore = $('.show_more'),
        defaultToggleAreaHeight = $toggleArea.height(),
        limitedToggleAreaHeight = 100;
    $toggleArea.height(limitedToggleAreaHeight);
    $toggleArea.show();
    if (defaultToggleAreaHeight > limitedToggleAreaHeight) {
        $toggleArea.addClass('bg_linear');
        $showMore.toggle(
            function () {
                $toggleArea.animate({'height': defaultToggleAreaHeight});
                $toggleArea.removeClass('bg_linear');
                $(this).html('<span>-</span>${_("Close details")}');
            },
            function () {
                $('.toggleArea').animate({'height': limitedToggleAreaHeight});
                $toggleArea.addClass('bg_linear');
                $(this).html('<span>+</span>${_("See next")}');
            }
        );
        $showMore.show();
    }
});
</script>
</%block>

<%block name="bodyclass">ticket receipt</%block>

<div class="ticket_page_wrap">
  % if advanced_course.course_type == AdvancedCourseTypes.F2F:
  <h2>${_("Your Ticket")}</h2>
  % endif
  <section class="section">
    % if order.status == 'refunded':
    <div class="course_select_area clear">
      <p class="red">${_("This ticket has been cancelled.")}</p>
    </div>
    % endif
    <div class="course_select_area clear">
      <p>
        ${_("Your order has been completed.")}<br>
        ${_("We automatically send the confirmation email that you registered.")}<br>
      </p>
    </div>
    <h3>${_("Subscription Details")}</h3>
    <div class="receipt_area">
      <div class="ticket-cancel">
        <p>${_("If you would like to cancel, please contact <a href=\"{cancel_page_link}\">HERE</a> (language is Japanese only)").format(cancel_page_link=marketing_link("REQUEST_NEW"))}</p>
      </div>
      <div>
        % if advanced_course.course_type == AdvancedCourseTypes.F2F:
        <h4>${_("{course_name} Face-to-Face Course").format(course_name=course_name) | h}<br>${advanced_course.display_name | h} ${advanced_course_ticket.display_name | h}</h4>
        % endif
      </div>
      <div class="ticket-detail">
        <%
            item, course = shoppingcart_items[0]
        %>
        <dl>
          <dt>${_("Username")}</dt>
          <dd>${user.username}</dd>
        </dl>
        <dl>
          <dt>${_("Ticket Number")}</dt>
          <dd id="receipt-number">#${create_order_id(order)}</dd>
        </dl>
        <dl>
          <dt>${_("Opening Time")}</dt>
          <dd id="course-opening-time">${advanced_course.opening_datetime_str}</dd>
        </dl>
        <dl>
          <dt>${_("Meeting Place")}</dt>
          <dd id="course-place"><a href="${advanced_course.place_link}" target="_blank">${advanced_course.place_name | h}</a></dd>
        </dl>
        <dl>
          <dt>${_("Payment Method")}</dt>
          <dd>
            <span id="payment-method">${item.payment_method | h}</span>
            % if item.order.bill_to_ccnum:
            &nbsp;${item.order.bill_to_ccnum | h}
            % endif
          </dd>
        </dl>
        <dl>
          <dt>${_("Payment Amount")}</dt>
          <dd id="ticket-price">¥${'{:,d}'.format(advanced_course_ticket.price_with_tax)} (${_("Including tax")})</dd>
        </dl>
        <dl>
          <dt>${_("Other Information")}</dt>
          <dd><div class="toggleArea">${advanced_course.content}</div></dd>
        </dl>
        <div class="show_more" style="display: none;"><span>+</span>${_("See next")}</div>
      </div>
    </div>
    <a href="${reverse('dashboard')}" class="t_btn big mypage clear">${_("View Dashboard")}</a>
  </section>
</div>
