## mako
<%namespace name='static' file='/static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from courseware.tabs import get_course_tab_list
from django.core.urlresolvers import reverse
from django.conf import settings
from openedx.core.djangoapps.course_groups.partition_scheme import get_cohorted_user_partition
from microsite_configuration import microsite
from student.models import CourseEnrollment
from biz.djangoapps.gx_sso_config.models import SsoConfig
%>
<%page args="active_page=None" />

<%
if active_page is None and active_page_context is not UNDEFINED:
  # If active_page is not passed in as an argument, it may be in the context as active_page_context
  active_page = active_page_context

def url_class(is_active):
  if is_active:
    return "active"
  return ""

def selected(is_selected):
  return "selected" if is_selected else ""

def mobile_tab(tab_type="false"):
  if tab_type in ("courseware", "course_info", "discussion", "progress"):
    return "true"
  else:
    return "false"

show_preview_menu = not disable_preview_menu and staff_access and active_page in ["courseware", "info"]
cohorted_user_partition = get_cohorted_user_partition(course)
masquerade_user_name = masquerade.user_name if masquerade else None
masquerade_group_id = masquerade.group_id if masquerade else None
staff_selected = selected(not masquerade or masquerade.role != "student")
specific_student_selected = selected(not staff_selected and masquerade.user_name)
student_selected = selected(not staff_selected and not specific_student_selected and not masquerade_group_id)
include_special_exams = settings.FEATURES.get('ENABLE_SPECIAL_EXAMS', False) and (course.enable_proctored_exams or course.enable_timed_exams)
%>

<%block name="headextra">
  <link rel="stylesheet" type="text/css" href="${static.url('css/gacco-course.css')}" />
</%block>

% if include_special_exams:
  <%static:js group='proctoring'/>
  % for template_name in ["proctored-exam-status"]:
    <script type="text/template" id="${template_name}-tpl">
        <%static:include path="courseware/${template_name}.underscore" />
    </script>
  % endfor
<div class="proctored_exam_status"></div>
% endif
% if disable_tabs is UNDEFINED or not disable_tabs:
<nav class="${active_page} wrapper-course-material" aria-label="${_('Course Material')}">
  <div class="course-material">
    % if show_preview_menu:
    <div class="preview-menu" id="wrapper-preview">
      <select class="action-preview-select" id="action-preview-select" name="select">
        <option value="staff" ${staff_selected}>${_("Staff")}</option>
        <option value="student" ${student_selected}>${_("Student")}</option>
        % if cohorted_user_partition:
          % for group in sorted(cohorted_user_partition.groups, key=lambda group: group.name):
          <option value="group.id" data-group-id="${group.id}" ${selected(masquerade_group_id == group.id)}>
            ${_("Student in {content_group}").format(content_group=group.name)}
          </option>
          % endfor
        % endif
      </select>
    </div>
    % endif
    <ol class="course-tabs">
      % for tab in get_course_tab_list(request, course):
        <%
            tab_is_active = (tab.tab_id == active_page) or (tab.tab_id == default_tab)
        %>
          <li>
             <a href="${tab.link_func(course, reverse) | h}" data-type="${tab.type}" data-mobile="${mobile_tab(tab.type)}" class="${url_class(tab_is_active)}">
                 <i class="tab-icon ${tab.icon}"></i>
                 ${_(tab.name) | h}
                 % if tab_is_active:
                   <span class="sr">, current location</span>
                 %endif
                 % if tab_image:
                   ## Translators: 'needs attention' is an alternative string for the
                   ## notification image that indicates the tab "needs attention".
                   <img src="${tab_image}" alt="${_('needs attention')}" />
                 %endif
             </a>
          </li>
      % endfor
      <%block name="extratabs" />
          <li id="more-menu">
             <a href="#"><i class="tab-icon fa fa-ellipsis-h"></i>${_("More")}</a>
             <ul>
               % for tab in get_course_tab_list(request, course):
                 % if tab.type not in ("courseware", "course_info", "discussion", "progress"):
               <li><a href="${tab.link_func(course, reverse) | h}">${_(tab.name) | h}</a></li>
                 % endif
               % endfor
               <li class="course-tab-dashboard"><a href="/dashboard">${_("Dashboard")}</a></li>
               % if user:
               <% member = SsoConfig.user_control_process(user.id)%>
               % else:
               <% member = True %>
               % endif
               % if member:
               <li><a href="${reverse('account_settings')}">${_("Account Settings")}</a></li>
               % endif
               % if user.is_authenticated():
               <li><a href="${reverse('learner_profile', kwargs={'username': user.username})}">${_("My Profile")}</a></li>
               % endif
               % if microsite.get_value('MKTG_URL_LINK_MAP', settings.MKTG_URL_LINK_MAP).get('FAQ'):
               <li><a href="${marketing_link('FAQ')}">${_("FAQ")}</a></li>
               % endif
               <li class="help-tab">
                 <a href="#help-modal" rel="leanModal" role="button">${_("Help")}</a>
               </li>
               <% member2 = SsoConfig.user_control_process2(user.id)%>
               % if member2:
                <li><a href="${reverse('logout')}">${_("Log Out")}</a></li>
               % endif
             </ul>
          </li>
    </ol>
  </div>
</nav>
<script type="text/javascript">
$("#more-menu").on("click", function(e) {
  if ($("#more-menu > ul > li").is(':hidden')) {
    $("#more-menu > ul > li").stop(true).slideDown('fast');
  } else {
    $("#more-menu > ul > li").slideUp('fast');
  }
});
</script>
%endif

% if show_preview_menu:
<script type="text/javascript">
(function() {
    var selectElement = $('.action-preview-select');
    var userNameElement = $('#action-preview-username');
    var userNameContainer = $('.action-preview-username-container')

    % if disable_student_access:
        selectElement.attr("disabled", true);
        selectElement.attr("title", "${_("Course is not yet visible to students.")}");
    % endif

    % if specific_student_selected:
        userNameContainer.css('display', 'inline-block');
        userNameElement.val('${masquerade_user_name}');
    % endif

    selectElement.change(function() {
        var selectedOption;
        if (selectElement.attr("disabled")) {
           return alert("${_("You cannot view the course as a student or beta tester before the course release date.")}");
        }
        selectedOption = selectElement.find('option:selected');
        if (selectedOption.val() === 'specific student') {
            userNameContainer.css('display', 'inline-block');
        } else {
            userNameContainer.hide();
            masquerade(selectedOption);
        }
    });

    userNameElement.keypress(function(event) {
        if (event.keyCode === 13) {
            // Avoid submitting the form on enter, since the submit action isn't implemented.  Instead, blur the
            // element to trigger a change event in case the value was edited, which in turn will trigger an AJAX
            // request to update the masquerading data.
            userNameElement.blur();
            return false;
        }
        return true;
    });

    userNameElement.change(function() {
        masquerade(selectElement.find('option:selected'));
    });

    function masquerade(selectedOption) {
        var data = {
            role: selectedOption.val() === 'staff' ? 'staff' : 'student',
            user_partition_id: ${cohorted_user_partition.id if cohorted_user_partition else 'null'},
            group_id: selectedOption.data('group-id'),
            user_name: selectedOption.val() === 'specific student' ? userNameElement.val() : null
        };
        $.ajax({
            url: '/courses/${course.id}/masquerade',
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function(result) {
                if (result.success) {
                    location.reload();
                } else {
                    alert(result.error);
                }
            },
            error: function() {
                alert('Error: cannot connect to server');
            }
        });
    }
}());
</script>
% endif
