// Styles for the WYSIWYG question/answer editor

.wmd-panel
{
}

#wmd-button-bar {
  border: 1px solid #ddd;
  height:36px;
  float:left;
  width:99%;
}

#wmd-input {
  height: 500px;
  background-color: Gainsboro;
  border: 1px solid DarkGray;
  margin-top: -($baseline);
}

#wmd-preview {
  background-color: LightSkyBlue;
}

#wmd-output {
  background-color: Pink;
}

#wmd-button-row {
  position: relative;
  margin-left: ($baseline/4);
  margin-right: ($baseline/4);
  margin-bottom: 0px;
  margin-top: ($baseline/2);
  padding: 0px;
  height: 20px;
}

.wmd-spacer {
  width: 1px;
  height: 20px;
  margin-left: 14px;
  position: absolute;
  background-color: Silver;
  display: inline-block;
  list-style: none;
}

.wmd-button {
  width: 20px;
  height: 20px;
  margin-left: ($baseline/4);
  margin-right: ($baseline/4);
  position: absolute;
  background-image: url('#{$static-path}/images/wmd-buttons.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  display: inline-block;
  list-style: none;
}

.wmd-button > a {
  width: 20px;
  height: 20px;
  margin-left: ($baseline/4);
  margin-right: ($baseline/4);
  position: absolute;
  display: inline-block;
}


/* sprite button slicing style information */
#wmd-bold-button    {left: 0px;   background-position: 0px 0;}
#wmd-italic-button  {left: 25px;  background-position: -20px 0;}
#wmd-spacer1        {left: 50px;}
#wmd-link-button    {left: 75px;  background-position: -40px 0;}
#wmd-quote-button   {left: 100px;  background-position: -60px 0;}
#wmd-code-button    {left: 125px;  background-position: -80px 0;}
#wmd-image-button   {left: 150px;  background-position: -100px 0;}
#wmd-attachment-button   {left: 175px;  background-position: -120px 0;}
#wmd-spacer2        {left: 200px;}
#wmd-olist-button   {left: 225px;  background-position: -140px 0;}
#wmd-ulist-button   {left: 250px; background-position: -160px 0;}
#wmd-heading-button {left: 275px; background-position: -180px 0;}
#wmd-hr-button      {left: 300px; background-position: -200px 0;}
#wmd-spacer3        {left: 325px;}
#wmd-undo-button    {left: 350px; background-position: -220px 0;}
#wmd-redo-button    {left: 375px; background-position: -240px 0;}
#wmd-help-button    {right: 0px; background-position: -260px 0;}


.wmd-prompt-background
{
  background-color: Black;
}

body.discussion div.image-link-wmd-prompt-dialog
{
  width: 450px;
}

.image-link-wmd-prompt-dialog
{
  width: 450px;
  left: 50%;
  margin-left: -((450 + $baseline * 2) / 2);
  border: 1px solid #999999;
  background-color: #F5F5F5;
  padding: 5px;
}

.image-link-wmd-prompt-dialog > div {
  font-size: 0.8em;
  font-family: arial, helvetica, sans-serif;
}

.image-link-wmd-prompt-dialog {
  .form-actions {
    text-align: center;
    .form-actions-button{
      margin: 10px;
      display: inline;
      border: 1px solid #888;
      font-size: 14px;
      font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
      width: 7em;
      background-image: none;
      &#new-link-image-ok {
        background-color: #43ac6a;
        border-color: #067913;
        &:hover {
          background-color: #409206 !important;
        }
      }
      &#new-link-image-cancel {
        background-color: #777;
        &:hover {
          background-color: #444 !important;
        }
      }

    }
  }

  .input-text {
    border-radius: 3px;
    color: $gray-d3;
    width: 100%;
  }

  #file-upload-proxy {
    margin-top: 10px;
    display: block;
    border: 1px solid #888;
    font-size: 14px;
    font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
    background-color: #43ac6a;
    border-color: #067913;
    background-image: none;
    &:hover {
      background-color: #409206 !important;
    }
  }

  .field-group {
    .field {
      margin-bottom: 10px;

      &:last-child {
          margin-bottom: 0;
      }

      .disabled-textbox {
        background-color: #c8c8c8
      }
    }
  }

  .field-label {
      display: block;
      width: auto;
      margin-bottom: 10px;
      margin-top: 10px;
      font-size: 16px;
      line-height: 100%;
      color: #4d4b4b;
  }

  .has-error {
    color: red;

  }
}

.discussion-image {
  max-width: 50%;
  max-height: 50%;
}

@media only screen and (max-width: 460px) {
  body.discussion div.image-link-wmd-prompt-dialog,
  .image-link-wmd-prompt-dialog {
    width: 100%;
    box-sizing: border-box;
    left: 0;
    margin-left: 0;

  }
}
