<%inherit file="../main.html" />
<%namespace name="static" file="../static_content.html" />

<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
%>

<%block name="pagetitle">MDA</%block>

<%block name="js_extra">
<script type="text/javascript">
function enable_button(){
  $(function() {
    var e_entry = $('#entry');
    e_entry.addClass('entry-enable');
    e_entry.removeClass('entry-disable');
    e_entry.prop("disabled",false);
  });
}
</script>
</%block>

<%block name="headextra">
<link rel="stylesheet" type="text/css" href="${static.url('css/ga_diagnosis/common-all.css')}" />
<link rel="stylesheet" type="text/css" href="${static.url('css/ga_diagnosis/index.css')}" />
</%block>

<%block name="bodyextra">
<img id="course_logo" src="${static.url('images/ga_diagnosis/course_logo.jpg')}">
<div id="course_info_title">
  講座概要
</div>
<div id="course_info">
  <table id="table_course_info">
    <tr>
      <td>
        ${DESCRIPTION1}
        詳細は <a href="${REGULATION_URL_4}" target="__blank">こちら</a> をご確認ください。<br>
        <br>
        合意いただけるポリシーにチェックして、「申し込む」ボタンを押してください。<br>
      </td>
    </tr>
  </table>
</div>
<form action="." method="post">
  <ul id="id_regulation_state">
    <li>
        <input id="id_regulation_state_0" name="regulation_state" type="radio" value="1" onclick="enable_button()">
        <div class="div_regulation_state">
          <a href="${REGULATION_URL_1}" target="__blank">${REGULATION_NAME_1}</a>と <a href="${REGULATION_URL_2}" target="__blank">${REGULATION_NAME_2}</a>両方に合意します。
        </div>
    </li>
    <li>
        <input id="id_regulation_state_1" name="regulation_state" type="radio" value="2" onclick="enable_button()">
        <div class="div_regulation_state">
          <a href="${REGULATION_URL_3}" target="__blank">${REGULATION_NAME_3}</a>のみ合意します。
        </div>
    </li>
  </ul>
  % if hasattr(form, 'errors'):
    ${form.errors['regulation_state']}
  % endif
  <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }"/>
  <button type="submit" id="entry" class="entry-disable" disabled>申し込む</button>
</form>
</%block>
