div.prereport-message-top {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

div.prereport-message-bottom {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}
