<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
%>
<style>
    .w2ui-grid .w2ui-grid-body .w2ui-grid-records .w2ui-grid-records,
    .w2ui-expanded-row .w2ui-reset.w2ui-grid > div,
    .w2ui-expanded-row .w2ui-reset.w2ui-grid .w2ui-grid-body,
    .w2ui-grid .w2ui-grid-body .w2ui-grid-records .w2ui-expanded2 > div {
        position:relative !important;
        overflow-x: visible !important;
        height: auto !important;
    }
</style>
<div id="task-history-wrapper" class="gc_data_section">
    <div class="gc_task_history_text">
        <div class="gc_task_history_text_left">
            <h2>${_("Register Result")}</h2>
        </div>
        <div class="gc_task_history_text_right">
            <span>${_("To check the result, please push the update button.")}</span>
            <button id="task-reload-btn" class="btn" disabled>&#xf1da ${_("Update")}</button>
        </div>
    </div>
    <div id="task-history-grid" class="gc_task_history_grid"></div>
</div>

<script type="text/javascript">
    var grid = grid || [];
    var task_grid;
    $(function () {
        task_grid = $('#task-history-grid').w2grid({
            name: 'task_history_grid',
            fixedBody: true,
            selectType : 'row',
            show: {
                expandColumn: true,
                footer: true,
            },
            columns: [
                {field: 'result', caption: '${_("Total Result")}', size: '10%', hidden: false},
                {field: 'result_message', caption: '${_("Execution Result")}', size: '40%', hidden: false},
                {field: 'requester', caption: '${_("Execution Username")}', size: '15%', hidden: false},
                {field: 'created', caption: '${_("Execution Datetime")}', size: '10%', hidden: false},
                {field: 'updated', caption: '${_("Complete Datetime")}', size: '10%', hidden: false}
            ],
            onExpand: function(e) {
                var target = task_grid.get(e.recid), messages = target.messages;
                if (messages.length === 0) {
                    messages = [{ recid: -1, message: '${_("No messages.")}' }];
                }
                if (w2ui.hasOwnProperty('subgrid-' + e.recid)) {
                    w2ui['subgrid-' + e.recid].destroy();
                }
                $('#'+ e.box_id).css({ margin: '0px', padding: '0px', width: '100%' }).animate({ height: 'auto' }, 100);
                setTimeout(function () {
                    var messageGrid = $('#'+ e.box_id).w2grid({
                        name: 'subgrid-' + e.recid,
                        show: { columnHeaders: false },
                        fixedBody: true,
                        columns: [
                            { field: 'message', size: '100%', hidden: false },
                        ],
                        records: messages,
                        onDblClick: function(e) {
                            if (e.recid != -1) {
                                w2popup.open({
                                    title: w2utils.lang('Notification'),
                                    body: '<div class="red" style="font-size: 1rem;">' + messageGrid.get(e.recid).message + '</div>',
                                    width: 600,
                                    height: 240,
                                });
                            }
                        }
                    });
                    w2ui['subgrid-' + e.recid].resize();
                }, 300);
            }
        });

        var reload_btn = $('#task-reload-btn');
        task_grid.load('${reverse("biz:member:task_history_ajax")}', function() {
            reload_btn.prop('disabled', false);
        });

        reload_btn.on('click', function() {
            reload_btn.prop('disabled', true);
            task_grid.load('${reverse("biz:member:task_history_ajax")}', function() {
                reload_btn.prop('disabled', false);
            });
        });

        if ($.isArray(grid)) { grid.push(task_grid); } else { grid = task_grid; }
    });
</script>
