<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.template import RequestContext
import third_party_auth
from third_party_auth import pipeline
from microsite_configuration import microsite
from django.core.urlresolvers import reverse
import json
%>

<%
  cert_name_short = settings.CERT_NAME_SHORT
  cert_name_long = settings.CERT_NAME_LONG
%>


<%block name="pagetitle">${_("Dashboard")}</%block>
<%block name="bodyclass">view-dashboard is-authenticated</%block>
<%block name="nav_skip">#my-courses</%block>

<%block name="header_extras">
% for template_name in ["donation"]:
<script type="text/template" id="${template_name}-tpl">
  <%static:include path="dashboard/${template_name}.underscore" />
</script>
% endfor

% for template_name in ["dashboard_search_item", "dashboard_search_results", "search_loading", "search_error"]:
<script type="text/template" id="${template_name}-tpl">
    <%static:include path="search/${template_name}.underscore" />
</script>
% endfor
</%block>

<%block name="js_extra">
  <script src="${static.url('js/commerce/credit.js')}"></script>
  <%static:js group='dashboard'/>
  <script type="text/javascript">
    $(document).ready(function() {
      edx.dashboard.legacy.init({
        dashboard: "${reverse('dashboard')}",
        signInUser: "${reverse('signin_user')}",
        changeEmailSettings: "${reverse('change_email_settings')}"
      });

      /**  Custom Search Initialize
       --------------------------------------------------*/
      var NO_GENRE = '__GENRE_NULL__',
              $courseWrapper = $('#my-courses .listing-courses'),
              $searchGenre1 = $('.search-block [name=genre1]'),
              $searchGenre2 = $('.search-block [name=genre2]'),
              $searchStatus = $('.search-block [name=status]'),
              $searchSortKey = $('.search-block [name=display-order]'),
              $searchText = $('.js-search'),
              $spDisplayBtn = $('#js-sp-display-btn'),
              resizeTime = null,
              tmpResizeWidth = null,
              courseDataList = [];
      // get course data
      _.each($courseWrapper.find('.course-item'), function(el) {
          var $el = $(el);
          var statusOrder;
          switch($el.data('course-status')) {
              case 'previous':  statusOrder = 1; break;
              case 'waiting':   statusOrder = 1; break;
              case 'working':   statusOrder = 1; break;
              case 'completed': statusOrder = 2; break;
              case 'closing':   statusOrder = 2; break;
              default:         statusOrder = 99; break;
          }
          courseDataList.push({
              el: $el.clone(true),
              name: $el.data('course-name') || '',
              priorityLast: $el.data('priority-last'),
              forceLast: $el.data('force-last'),
              genre1: $el.data('course-category'),
              genre2: $el.data('course-category2'),
              status: $el.data('course-status'),
              statusOrder: statusOrder,
              order: $el.data('course-order'),
              startDate: $el.data('course-start-date'),
              endDate: $el.data('course-end-date'),
              enrollDate: $el.data('course-enroll-date')
          });
      });

      // sort course data for initial display
      courseDataList = searchSort(courseDataList, [
          ['forceLast', 'asc'], ['statusOrder', 'asc'], ['priorityLast', 'asc'], ['order', 'asc'], ['name', 'asc']]);
      displayCourseList(courseDataList);
      // for sp display/hidden search block
      $spDisplayBtn.on('click', function() {
          if ($(this).data('active') === 0) {
              $(this).data('active', 1);
              $(this).find('i').removeClass('fa-plus').addClass('fa-minus');
              $('.search-item').show();
          } else {
              $(this).data('active', 0);
              $(this).find('i').removeClass('fa-minus').addClass('fa-plus');
              $('.search-item').hide();
          }
      });
      $(window).on('load', function() {
          tmpResizeWidth = window.innerWidth;
      });
      $(window).on('resize', function() {
          clearTimeout(resizeTime);
          resizeTime = setTimeout(function() {
              var resizeWidth = window.innerWidth;
              if (tmpResizeWidth <= 1120 && resizeWidth > 1120 && $spDisplayBtn.data('active') === 0) {
                  $spDisplayBtn.trigger('click');
              } else if (tmpResizeWidth > 1120 && resizeWidth <= 1120 && $spDisplayBtn.data('active') === 1) {
                  $spDisplayBtn.trigger('click');
              }
              tmpResizeWidth = resizeWidth;
          }, 300);
      });


      /** Custom Search Event Binding
       --------------------------------------------------*/
      // Reset
      $('.search-block .search-reset').on('click', function() {
          $('.search-block select').val('');
          $('.search-block input[name=display_order_type]:eq(0)').click();
          // refresh search
          $searchGenre1.trigger('change');
      });
      // Search
      $('.js-search').on('keyup change', function() {
        $searchGenre1.trigger('change');
      });
      $('.search-block select,.search-block input[name=display_order_type]').on('change', function() {
          var $this = $(this);
          // Reset genre2 when changed genre1
          if ($this.attr('name') === 'genre1') {
              if ($this.val() === '' || $this.val() === NO_GENRE) {
                  $searchGenre2.val('').prop('disabled', true);
              } else {
                  $searchGenre2.val('').prop('disabled', false);
                  _.each($searchGenre2.find('option'), function(el) {
                      if ($(el).val() === '' || $(el).val() === NO_GENRE || $(el).data('genre1') === $this.val()) {
                          $(el).show();
                      } else {
                          $(el).hide();
                      }
                  });
              }
          }
          $courseWrapper.hide();
          displayCourseList(searchCourseList(courseDataList));
      });
      function searchCourseList(dataList) {
          var displayList = [];
          _.each(dataList, function(course) {
              var displayFlg = true;
              _.each({
                  name: $searchText.val().toLowerCase(),
                  genre1: $searchGenre1.val(),
                  genre2: $searchGenre2.val(),
                  status: $searchStatus.val()
              }, function(val, key) {
                  if (val !== '') {
                      if (key === 'name') {
                          if (course[key].toLowerCase().trim().indexOf(val) === -1) {
                              displayFlg = false;
                          }
                      } else if (val === NO_GENRE) {
                          if (course[key] !== '') {
                              displayFlg = false;
                          }
                      } else {
                          if (course[key] !== val) {
                              displayFlg = false;
                          }
                      }
                  }
              });
              if (displayFlg) {
                  displayList.push(course);
              }
          });

          // sort course
          var sortType = $('.search-block [name=display_order_type]:checked').val();
          switch($searchSortKey.val()) {
              case 'priority':
                  displayList = searchSort(displayList, [
                      ['order', sortType], ['statusOrder', 'asc'], ['name', 'asc']]);
                  break;
              case 'name':
                  displayList = searchSort(displayList, [
                      ['name', sortType], ['statusOrder', 'asc'], ['order', 'asc']]);
                  break;
              case 'enroll_date':
                  displayList = searchSort(displayList, [
                      ['enrollDate', sortType], ['statusOrder', 'asc'], ['order', 'asc'], ['name', 'asc']]);
                  break;
              case 'start_date':
                  displayList = searchSort(displayList, [
                      ['startDate', sortType], ['statusOrder', 'asc'], ['order', 'asc'], ['name', 'asc']]);
                  break;
              case 'end_date':
                  displayList = searchSort(displayList, [
                      ['endDate', sortType], ['statusOrder', 'asc'], ['order', 'asc'], ['name', 'asc']]);
                  break;
              default:
                  displayList = searchSort(displayList, [
                      ['forceLast', 'asc'], ['statusOrder', 'asc'], ['priorityLast', 'asc'], ['order', 'asc'],
                      ['name', 'asc']]);
                  break;
          }
          return displayList;
      }
      function searchSort(dataList, sortKeyList) {
          return dataList.sort(function(a, b) {
              var result = 0;
              for (var i = 0; i < sortKeyList.length; i++) {
                  if (a[sortKeyList[i][0]] > b[sortKeyList[i][0]]) {
                      result = sortKeyList[i][1] === 'asc' ? 1 : -1;
                  } else if (a[sortKeyList[i][0]] < b[sortKeyList[i][0]]) {
                      result = sortKeyList[i][1] === 'asc' ? -1 : 1;
                  }
                  if (result !== 0) {
                      break;
                  }
              }
              if (result !== 0) {
                  return result;
              }
          });
      }
      function displayCourseList(dataList) {
          $courseWrapper.html('');
          _.each(dataList, function(item) {
              $courseWrapper.append(item.el.clone(true));
          });
          $courseWrapper.show();
      };
    });
  </script>
  % if settings.FEATURES.get('ENABLE_DASHBOARD_SEARCH'):
    <%static:require_module module_name="js/search/dashboard/dashboard_search_factory" class_name="DashboardSearchFactory">
        DashboardSearchFactory();
    </%static:require_module>
  % endif
  % if redirect_message:
    <%static:require_module module_name="js/views/message_banner" class_name="MessageBannerView">
        var banner = new MessageBannerView({urgency: 'low', type: 'warning'});
        $('#content').prepend(banner.$el);
        banner.showMessage(${json.dumps(redirect_message)})
    </%static:require_module>
  % endif
</%block>

<div class="dashboard-notifications" tabindex="-1">
    %if message:
        <section class="dashboard-banner">
            ${message}
        </section>
    %endif

    %if enrollment_message:
        <section class="dashboard-banner">
            ${enrollment_message}
        </section>
    %endif
</div>

<section class="container dashboard" id="dashboard-main">
  <!-- search-block -->
  <%include file='dashboard/_dashboard_search_block.html' args="search_genre1_list=search_genre1_list,search_genre2_list=search_genre2_list" />
  <!-- ./search-block -->

  <section id="dashboard-sidebar">
    % if settings.FEATURES.get('ENABLE_DASHBOARD_SEARCH'):
      <div id="dashboard-search-bar" class="search-bar dashboard-search-bar" role="search" aria-label="Dashboard">
        <form>
          <label for="dashboard-search-input">${_('Search Your Courses')}</label>
          <div class="search-field-wrapper">
            <input id="dashboard-search-input" type="text" class="search-field"/>
            <button type="submit" class="search-button" aria-label="${_('Search')}">
              <i class="icon fa fa-search" aria-hidden="true"></i>
            </button>
            <button type="button" class="cancel-button" aria-label="${_('Clear search')}">
              <i class="icon fa fa-remove" aria-hidden="true"></i>
            </button>
          </div>
        </form>
      </div>
    % endif

    % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
     <div class="find-course-button">
       <a href="${marketing_link('COURSES')}">${_('Find Courses')}</a>
    </div>
    % endif

    <section class="profile-sidebar" id="profile-sidebar" role="region" aria-label="User info">
      <header class="profile">
        <h2 class="username-header"><span class="sr">${_("Username")}: </span></h2>
      </header>
      <section class="user-info">
        <ul>
          <li class="heads-up">
            <span class="title">${_("Want to change your account settings?")}</span>
            <span class="copy">${_(u"Click the arrow (▼) on the top right of the screen and go to \"Account Settings\".")}</span>
          </li>

          <%include file='dashboard/_dashboard_status_verification.html' />

        </ul>
      </section>
    </section>
  </section>

  <section class="my-courses" id="my-courses" role="main" aria-label="Content">
    <header class="wrapper-header-courses">
      <h2 class="header-courses">${_("My Courses")}</h2>
      <div class="search-box"><input class="js-search" type="search" placeholder="${_("Search...")}"></div>
    </header>

    % if len(course_enrollments) > 0:
      <ul class="listing-courses" style="display:none;">
      <% share_settings = getattr(settings, 'SOCIAL_SHARING_SETTINGS', {}) %>
      % for dashboard_index, enrollment in enumerate(course_enrollments):
        <% show_courseware_link = (enrollment.course_id in show_courseware_links_for) %>
        <% cert_status = cert_statuses.get(enrollment.course_id) %>
        <% can_unenroll = ((not cert_status) or cert_status.get('can_unenroll')) and (enrollment.course_id in show_unenroll_settings_for) %>
        <% credit_status = credit_statuses.get(enrollment.course_id) %>
        <% show_email_settings = (enrollment.course_id in show_email_settings_for) %>
        <% course_mode_info = all_course_modes.get(enrollment.course_id) %>
        <% show_refund_option = (enrollment.course_id in show_refund_option_for) %>
        <% is_paid_course = (enrollment.course_id in enrolled_courses_either_paid) %>
        <% is_course_blocked = (enrollment.course_id in block_courses) %>
        <% course_verification_status = verification_status_by_course.get(enrollment.course_id, {}) %>
        <% course_requirements = courses_requirements_not_met.get(enrollment.course_id) %>
        <% course_program_info = course_programs.get(unicode(enrollment.course_id)) %>
        <% advanced_course_status = advanced_course_statuses.get(enrollment.course_id) %>
        <% enroll_status = enroll_statuses[enrollment.course_id] %>
        <% course_category = course_categories[enrollment.course_id] %>
        <% course_order = course_orders[enrollment.course_id] %>
        <% course_enroll_date = course_enroll_dates[enrollment.course_id] %>
        <%include file = 'dashboard/_dashboard_course_listing.html' args="course_overview=enrollment.course_overview, enrollment=enrollment, show_courseware_link=show_courseware_link, cert_status=cert_status, can_unenroll=can_unenroll, credit_status=credit_status, show_email_settings=show_email_settings, course_mode_info=course_mode_info, show_refund_option=show_refund_option, is_paid_course=is_paid_course, is_course_blocked=is_course_blocked, verification_status=course_verification_status, course_requirements=course_requirements, dashboard_index=dashboard_index, share_settings=share_settings, user=user, course_program_info=course_program_info, advanced_course_status=advanced_course_status, enroll_status=enroll_status, course_category=course_category, course_order=course_order, course_enroll_date=course_enroll_date" />
      % endfor

      </ul>
    % else:
      <section class="empty-dashboard-message">
        <p>${_("Looks like you haven't enrolled in any courses yet.")}</p>

        % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
          <a href="${marketing_link('COURSES')}">
            ${_("Find courses now!")}
          </a>
        %endif
      </section>
    % endif

    % if staff_access and len(errored_courses) > 0:
      <div id="course-errors">
        <h2>${_("Course-loading errors")}</h2>

      % for course_dir, errors in errored_courses.items():
         <h3>${course_dir | h}</h3>
             <ul>
           % for (msg, err) in errors:
               <li>${msg}
                 <ul><li><pre>${err}</pre></li></ul>
               </li>
           % endfor
             </ul>
      % endfor
      </div>
    % endif
  </section>

  % if settings.FEATURES.get('ENABLE_DASHBOARD_SEARCH'):
    <section id="dashboard-search-results" class="search-results dashboard-search-results"></section>
  % endif

  % if settings.FEATURES.get('IS_EDX_DOMAIN') and settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
    <div class="wrapper-find-courses">
      <p class="copy">${_("Check out our recently launched courses and what's new in your favorite subjects")}</p>
      <p><a class="btn-find-courses" href="${marketing_link('COURSES')}">${_("Find New Courses")}</a></p>
    </div>
  % endif
</section>

<section id="email-settings-modal" class="modal" aria-hidden="true">
  <div class="inner-wrapper" role="dialog" aria-labelledby="email-settings-title">
    <button class="close-modal">
      <i class="icon fa fa-remove"></i>
      <span class="sr">
        ## Translators: this is a control to allow users to exit out of this modal interface (a menu or piece of UI that takes the full focus of the screen)
        ${_("Close")}
      </span>
    </button>

    <header>
      <h2 id="email-settings-title">
        ${_("Email Settings for {course_name}").format(course_name='<span id="email_settings_course_name"></span>')}
        <span class="sr">,
          ## Translators: this text gives status on if the modal interface (a menu or piece of UI that takes the full focus of the screen) is open or not
          ${_("window open")}
        </span>
      </h2>
      <hr/>
    </header>

    <form id="email_settings_form" method="post">
      <input name="course_id" id="email_settings_course_id" type="hidden" />
      <label>${_("Receive course emails")} <input type="checkbox" id="receive_emails" name="receive_emails" /></label>
      <div class="submit">
        <input type="submit" id="submit" value="${_("Save Settings")}" />
      </div>
    </form>
  </div>
</section>

<section id="unenroll-modal" class="modal unenroll-modal" aria-hidden="true">
  <div class="inner-wrapper" role="dialog" aria-labelledby="unenrollment-modal-title">
    <button class="close-modal">
      <i class="icon fa fa-remove"></i>
      <span class="sr">
        ## Translators: this is a control to allow users to exit out of this modal interface (a menu or piece of UI that takes the full focus of the screen)
        ${_("Close")}
      </span>
    </button>

    <header>
      <h2 id="unenrollment-modal-title">
        <span id='track-info'></span>
        <span id='refund-info'></span>
        <span class="sr">,
          ## Translators: this text gives status on if the modal interface (a menu or piece of UI that takes the full focus of the screen) is open or not
          ${_("window open")}
        </span>
      </h2>
      <hr/>
    </header>
    <div id="unenroll_error" class="modal-form-error"></div>
    <form id="unenroll_form" method="post" data-remote="true" action="${reverse('change_enrollment')}">
      <input name="course_id" id="unenroll_course_id" type="hidden" />
      <input name="enrollment_action" type="hidden" value="unenroll" />
      <div class="submit">
        <input name="submit" type="submit" value="${_("Unenroll")}" />
      </div>
    </form>
  </div>
</section>
