<%! from django.utils.translation import ugettext as _ %>
<%inherit file="main.html" />

<%block name="pagetitle">${_("Disabled Account")}</%block>

<%block name="headextra">
<style>
section.outside-app h1 {
  text-transform: none;
}
</style>
</%block>

<section class="outside-app">
<h1>${_("Account is not valid anymore")}</h1>
<p>${_("The log-in email address is already withdrawn from gacco.")}</p>
<p>${_("The email address which is withdrawn can't be used again, please register as new member with other email address.")}</p>
</section>
