<%inherit file="/main.html" />
<%block name="pagetitle">簡易ツール</%block>
<%namespace name='static' file='/static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>
<%block name="headextra">
<script type="text/javascript" src="${static.url('js/ga_operation/main.js')}"></script>
</%block>
<div class="main_content">
    <div class="left_content panel">
        <div class="side-nav">
            <h1>Menu</h1>
            <ul id="nav">
                <li> <p><strong>修了証</strong></p> </li>
                <li>
                    <ul>
                        <li><a href="#upload_certs_template"><i class="fa fa-file-text-o"></i>テンプレートアップロード</a></li>
                        <li><a href="#create_certs"><i class="fa fa-file-text-o"></i>修了証発行(通常)</a></li>
                        <li><a href="#create_certs_meeting"><i class="fa fa-file-text-o"></i>修了証発行(対面学習)</a></li>
                        <li><a href="#publish_certs"><i class="fa fa-file-text-o"></i>修了証公開</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div> <!-- left_content -->

    <div class="right_content panel">
        <form id="input_form">
            <div id="right_content_main"></div>
        </form>
        <div id="right_content_response"></div>
    </div>

</div> <!-- main_content -->

<script id="upload_certs_template_tmpl" type="text/template">
    <h3>◎テンプレートアップロード</h3>
    <ul>
        <li>
            <label for="text">対象講座ID</label>
                <select class="course_id_list" id="course_id_list" name="course_id">
                    <option value=""></option>
                    % for course in course_list:
                        <option value="${course[0]}">${course[1]} ${course[0]}</option>
                    % endfor
                </select>
            <label id="course_id" for="text" class="error"></label>
        </li>
        <li>
          <ul class="id_error" id="certs_templates">
          </ul>
        </li>
        <li>
            <div class="form_action">
                <button id="confirm_certs_template" class="button" name="confirm_certs_template">確認</button>
                <img id="indicator" src="${static.url('images/spinner.gif')}" alt="実行中..." hidden>
            </div>
        </li>
        <li style="margin-top: 30px;">
            <label for="file">通常テンプレート</label>
            <input type="file" name="cert_pdf_tmpl">
            <p id="cert_pdf_tmpl" for="text" class="error"></p>
        </li>
        <li>
            <label for="file">対面学習テンプレート</label>
            <input type="file" name="cert_pdf_meeting_tmpl">
            <p id="cert_pdf_meeting_tmpl" for="text" class="error"></p>
        </li>
        <li id="cert_pdf_tmpl_error" class="error"></li>
        <li>
            <div class="form_action">
                <button id="upload_certs_template" class="button" name="upload_certs_template">アップロード</button>
                <img id="indicator" src="${static.url('images/spinner.gif')}" alt="実行中..." hidden>
            </div>
        </li>
    </ul>
</script>

<script id="create_certs_tmpl" type="text/template">
    <h3>◎修了証発行（通常）</h3>
    <ul>
        <li>
            <label for="text">対象講座ID</label>
            <select class="course_id_list" id="course_id_list" name="course_id">
                    <option value=""></option>
                    % for course in course_list:
                        <option value="${course[0]}">${course[1]} ${course[0]}</option>
                    % endfor
            </select>
            <label id="course_id" for="text" class="error"></label>
        </li>
        <li>
            <label for="student_ids">対象者リスト</label>
            <textarea rows="6" name="student_ids" class="student_ids" placeholder="メールアドレス/ユーザ名" spellcheck="false"></textarea>
            <p class="error" id="student_ids"></p>
        <li>
        </li>
        <li>
            <label for="email">結果返却用Eメールアドレス</label>
            <input type="email" name="email">
            <label id="email" for="text" class="error"></label>
        </li>
        <li>
            <div class="form_action">
                <button  id="create_certs" class="button" name="create_certs">発行</button>
                <img id="indicator" src="${static.url('images/spinner.gif')}" alt="実行中..." hidden>
            </div>
        </li>
        <li>
          <ul class="id_error" id="create_certs_error">
          </ul>
        </li>
    </ul>
</script>

<script id="create_certs_meeting_tmpl" type="text/template">
    <h3>◎修了証発行（対面学習）</h3>
    <ul>
        <li>
            <label for="text">対象講座ID</label>
            <select class="course_id_list" id="course_id_list" name="course_id">
                    <option value=""></option>
                    % for course in course_list:
                        <option value="${course[0]}">${course[1]} ${course[0]}</option>
                    % endfor
            </select>
            <label id="course_id" for="text" class="error"></label>
        </li>
        <li>
            <label for="student_ids">対象者リスト</label>
            <textarea rows="6" name="student_ids" class="student_ids" placeholder="メールアドレス/ユーザ名" spellcheck="false"></textarea>
            <p class="error" id="student_ids"></p>
        <li>
        <li>
            <label for="email">結果返却用Eメールアドレス</label>
            <input type="email" name="email">
            <label id="email" for="text" class="error"></label>
        </li>
        <li>
            <div class="form_action">
                <button id="create_certs_meeting" class="button" name="create_certs_meeting">発行</button>
                <img id="indicator" src="${static.url('images/spinner.gif')}" alt="実行中..." hidden>
            </div>
        </li>
        <li>
          <ul class="id_error" id="create_certs_meeting_error">
          </ul>
        </li>
    </ul>
</script>

<script id="publish_certs_tmpl" type="text/template">
    <h3>◎修了証公開</h3>
    <ul>
        <li>
            <label for="text">対象講座ID</label>
            <select class="course_id_list" id="course_id_list" name="course_id">
                    <option value=""></option>
                    % for course in course_list:
                        <option value="${course[0]}">${course[1]} ${course[0]}</option>
                    % endfor
            </select>
            <label id="course_id" for="text" class="error"></label>
        </li>
        <li>
            <label for="student_ids">対象者リスト</label>
            <textarea rows="6" name="student_ids" class="student_ids" placeholder="メールアドレス/ユーザ名" spellcheck="false"></textarea>
            <p class="error" id="student_ids"></p>
        <li>
        <li>
            <label for="email">結果返却用Eメールアドレス</label>
            <input type="email" name="email">
            <label id="email" for="text" class="error"></label>
        </li>
        <li>
            <div class="form_action">
                <button id="publish_certs" class="button" name="publish_certs">公開</button>
                <img id="indicator" src="${static.url('images/spinner.gif')}" alt="実行中..." hidden>
            </div>
        </li>
        <li>
            <ul class="id_error" id="publish_certs_error"></ul>
        </li>
    </ul>
</script>


<style type="text/css">
    li {
        list-style: none;
        margin-top:0.5em;
        margin-bottom:0.5em;
    }
    .side-nav>h1 { font-size: 20px; }
    .main_content {
        max-width: 980px;
        min-width: 300px;
        padding-bottom: 100px;
        margin: 30px auto 0;
    }
    .left_content {
        float: left;
        width: 300px;
        max-width: 660px;
        min-height: 520px;
        margin: 0;
        border: 1px solid;
        border-radius: 10px;
    }
    .right_content {
        max-width: 660px;
        min-height: 520px;
        margin-top: 20px;
        margin-left: 320px;
        border: 1px solid;
        border-radius: 10px;
    }
    .error { color: red; }
    .form_action {
        margin: 100px 0 0;
        text-align: center;
    }
    .button {
        min-width: 200px;
    }
    .student_ids {
      width: 400px;
      height: 100px;
    }
    .course_id_list {
        width: 600px;
    }
</style>
