<%inherit file="../main.html" />
<%namespace name='static' file='../static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
%>

<section class="container activation">

  <section class="message">
    <h1 class="invalid">${_("Activation Invalid")}</h1>
    <hr class="horizontal-divider">

    <p>${_('Please check URL link for activating your account on the e-mail and try to activate your account again.')}</p>

    <p>${_('If the problem still occurs, please send e-mail to gacco support desk ({email}).').format(email='<a href="mailto:{email}">{email}</a>'.format(email=settings.BUGS_EMAIL))}</p>
  </section>
</section>
