<%page args="section_data"/>
<%!
from django.utils.translation import ugettext as _
%>
<div class="batch-enrollment membership-section">
  <div class="auto_enroll auto_enroll_csv">
    <h2> ${_("Register Students")} </h2>
    <p>
    ${_("To register a list of users in this course, contains the following columns in this exact order: email, username, name, and country. Please include one student per row and do not include any headers, footers, or blank lines.")}
    </p>
    <form id="student-auto-enroll-form" method="post" action="${ section_data['upload_student_button_url'] }" enctype="multipart/form-data">
      <div class="batch-enrollment">
        <textarea name="students_list" rows="6" placeholder="${_("username1@domain.com,gaccotarou,gacco taro")}"></textarea>
        <button type="submit" name="enrollment_signup_button">${_("Register Signup")}</button>
      </div>
      <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">
    </form>
    <div class="results"></div>
  </div>
</div>
