<%! from django.utils.translation import ugettext as _ %>
<%page args="section_data"/>

<div class="survey-download-container action-type-container">
  <h2>${_("Survey Download")}</h2>
  <p>${_("The survey result can be downloaded as a CSV file. When you try to open a CSV file as it is in Excel, because that would garbled in the case that contains the Japanese, once you save the file, please re- open it in a text editor that corresponds to the 'UTF-8'. In addition, data on the date and time in the CSV file all UTC we (the world standard time, from Japan Standard Time minus 9 hours) are listed in the.")}</p>
  <p><input type="button" name="list-survey" value="${_("Get Survey CSV")}" data-csv="true" class="csv" data-endpoint="${ section_data['get_survey_url'] }"></p>
</div>
