body, html {
    background-color: #fff;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    height: 100%;
}

a:hover {
    cursor: pointer
}

/* ボーダー消し */
input, button, a:focus, *:focus {
    outline: none;
}

input, button, a {
    outline: 0;
    outline: none;
}

/* Firefox */
input::-moz-focus-inner, button::-moz-focus-inner, a {
    border: 0;
}

/*** Container ***/
.view-biz .container {
    padding: 10px 10px;
}

/*---------- Side Menu ----------*/
nav.side-menu ul.menu li {
    line-height: 1.6 !important;
    padding: 7px 15px 0;
    border-left: 3px solid #eee;
    -moz-transition: .3s;
    -o-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
}

.menu li:hover, .menu li a:hover {
    text-decoration: none !important;
    cursor: pointer;
}

nav.side-menu ul.menu li:hover {
    background-color: #cee3ec;
    color: #333;
    cursor: pointer;
    border-left: 3px solid #126f9a;
}

nav.side-menu ul.menu li:before {
    font-family: FontAwesome;
    content: ' \f013 ';
    margin: 0 5px 0 0;
    color: #126F9A;
}

nav.side-menu ul.menu li.current {
    background-color: #cee3ec;
    border-left: #126f9a solid 3px;
}

.view-biz .container div.main {
    float: left;
    padding: 22px 35px;
    position: absolute;
    left: 335px;
    -moz-transition: .3s;
    -o-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
}

.view-biz .container div.main.close {
    left: 50px;
}

.change-role a {
    background-color: #43ac6a;
    color: #fff;
    line-height: 1.6;
    padding: 3px 20px;
    position: relative;
    border-bottom: 3px solid;
    border-color: #2f8a7d;
    top: 8px;
    border-radius: 3px;
    padding: 5px 15px 2px;
}

.change-role a:before {
    font-family: FontAwesome;
    content: ' \f007 ';
    margin: 0 8px 0 0;
}

.change-role a:hover {
    text-decoration: none;
    background-color: green;
}

/*** Modal ***/
.biz-modal {
    display: none;
}

.w2ui-popup .w2ui-box1 {
    bottom: 0px;
}

.w2ui-popup .w2ui-msg-body {
    padding: 18px 10px 10px 10px;
    line-height: 150%;
    overflow: hidden;
}

/*** Dialog ***/
.btn-left {
    float: left;
    margin-left: 100px !important;
}

.btn-right {
    float: right;
    margin-right: 100px !important;
}

/*** Error ***/
.red {
    color: #e00;
}

ul.errorlist li {
    color: #e00;
    font-size: 1.1rem;
    padding: 1rem;
    display: block;
    height: 2.6rem;
}

span.err-msg {
    color: #e00;
    display: block;
    padding: 1px;
    position: relative;
}

span.err-msg.show-reg {
    left: 74px;
    top: -8px;
}

.messages .error {
    color: #e00;
}

.messages .warning {
    color: #eb3;
}

.messages .info {
    color: black;
}

/* -----------------------------▽ lms or gacco ------------------------------ */

.content-wrapper {
    min-height: 500px;
}

.wrapper.wrapper-footer {
    box-sizing: border-box;/* 201805*/
    box-shadow: none;
    position: relative;
    width: 100%;
    bottom: -228px;
    padding: 10px 10px 10px 10px;
    z-index: -1;
}

/* ---------- ▽ Form Style ---------- */
input:not([type=button]), select, textarea {
    font-style: normal;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.w2ui-field > label {
    margin-top: 13px;
}

.w2ui-reset select {
    /*   padding: 10px; */
    height: auto;
    font-size: 1rem;
    margin: 10px 10px 20px 0;
}

input#id_org_name, input#id_org_code {
    width: 28rem;
    margin: -10px 0 10px 5px;
}

input#add-user {
    width: 18rem;;
}

/* ----- Button ----- */
button.btn {
    background-color: #777;
    background-image: none;
    color: #fff;
    border-bottom: 2px solid #333;
    font-weight: 900;
    font-size: 0.9rem !important;
}

button.btn, input#register-btn, input#delete-btn, input#edit-btn, input#bulk-unregister-btn, input#bulk-personalinfo-mask-btn {
    min-width: 6rem;
    min-height: 2rem;
}

input[type="submit"], input[type="button"],
.btn, button, button.btn, input {
    font-family: FontAwesome;

    -moz-transition: .3s;
    -o-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s
}

button.btn:hover:not(:disabled), .btn:hover, button:hover {
    background-color: #444;
    border-bottom: 2px solid #222;
}

input#delete-btn {
    background: #777;
    transition: .3s;
    margin: 0 20px;
    background-color: #c33;
}

input#delete-btn:hover {
    background-color: #c30707;
}

button.btn.btn-blue {
    background-color: #126f9a;
    border-bottom: 2px solid #072b48;
}

button.btn.btn-blue:hover:not(:disabled) {
    background-color: #204771;
}

#role-selection-modal .cancel, button#No {
    background-color: #777;
}

input#download-btn {
    margin: 1rem 0;
    padding: 0.3rem 1rem;
}

input#register-btn, input#delete-btn, input#edit-btn, input#download-btn, input#bulk-unregister-btn, input#bulk-personalinfo-mask-btn {
    border-bottom: 2px solid #333;
}

button.biz-modal-close.w2ui-popup-btn.btn.cancel:hover, button#No:hover {
    background-color: #444 !important;
}

#role-selection-modal .btn.success, button#Yes, input#register-btn, input#edit-btn, input#download-btn {
    background-color: #43ac6a;
    border-color: #067913;
}

input#edit-btn {
    height: 35px;
    width: 11rem;
    margin: 2px 5px;
}

.btn.success:hover, button#Yes:hover, input#register-btn:hover, input#edit-btn:hover, input#bulk-unregister-btn:hover, input#bulk-personalinfo-mask-btn:hover {
    background-color: #409206 !important;
}

/* adStyle_201805 */
button.btn.btn-grn {
    background-color: #43ac6a;
    border-bottom: 2px solid #067913;
}

button.btn.btn-grn:hover:not(:disabled) {
    background-color: #409206;
}

/* -----------------------------▽ Biz Style------------------------------ */

.biz-wrap h2 {
    font-size: 1.6rem;
}

.biz-wrap hr {
    margin: 1rem auto;
    opacity: 0.8;
}

#detail-template a, #additional-info-template a {
    color: #2196f3;
    font-size: 1rem;
}

.biz-wrap #grid {
    min-width: 920px;
    width: 98%;
    height: 575px;
    margin: 0;
}

.biz-wrap table td {
    font-size: 0.88rem;
    letter-spacing: 1px;
    word-break: break-all;
}

.biz-wrap h1 {
    color: #777;
    text-align: left;
    font-size: 2rem;
    border-left: solid #cf0f31 5px;
    padding-left: 10px;
    margin: 0px 0 20px 0;
    border-bottom: solid #cf0f31 1px;
}

.biz-wrap h1 span#playback-title-description {
    font-size: 1.25rem;
    margin-left: 10px;
}

/* .biz-wrap */
input[type="button"] {
    background-color: #999;
    background-image: none;
    color: #FFF;
    border-radius: 5px;
    margin-top: 15px;
    padding: 3px 15px;
    font-size: large;
}

/* .biz-wrap */
input[type="button"]#register-btn, #download-btn, input[type="button"]#bulk-unregister-btn, input[type="button"]#bulk-personalinfo-mask-btn {
    background-color: #43ac6a;
    /* 	border-bottom: 3px solid #2f8a7d; */
    transition: background-color 0.15s ease-in-out;
}

.biz-wrap input[type="button"]#register-btn:hover, #download-btn:hover, input[type="button"]#bulk-unregister-btn:hover, input[type="button"]#bulk-personalinfo-mask-btn:hover {
    background: #15986c;
}

input[type="submit"]:active:not(:disabled), input[type="submit"]:focus:not(:disabled), input[type="button"]:active:not(:disabled), input[type="button"]:focus:not(:disabled), button:active:not(:disabled), button:focus:not(:disabled), .button:active:not(:disabled), .button:focus:not(:disabled) {
    box-shadow: none;
}

input[type="radio"] {
    margin: 1px;
}


/* .biz-wrap adStyle_201805 */
/* ======================================== */


/* gc_content */
.gc_content{
    width: 918px;
}
.main.close .gc_content{
    width: 1168px;
}
/* .gc_content button.btn{
    font-family: FontAwesome!important;
    font-size: 18px!important;
    font-weight: normal!important;
} */

.gc_error_area{
    box-sizing: border-box;
    background-color: #F7ECEC;
    border: 1px solid #CF0F31;
    padding: 15px 10px;
    width: 100%;
    margin-bottom: 20px;
    display: none;
    overflow-y: scroll;
    max-height: 250px;
    word-break: break-all;
}
.gc_error_area .messages{
    margin: 0 0 0 2em;
    padding: 0;
}
.gc_error_area .messages li:not(:last-child){
    margin-bottom: .25em;
}

/* gc_step */
.gc_step {
    margin-bottom: 30px;
}
.gc_step_item {
    display: flex;
    align-items: center;
    position:relative;
}
.gc_step_item:not(:last-child) {
    margin-bottom: 24px;
}
.gc_step_item:not(:last-child)::after{
    content:"";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: #999 transparent transparent transparent;
    position: absolute;
    left: calc(7em - 16px);
    bottom: -1em;
}
.gc_step_item_note{
    display: inline-block;
    margin-left: 1em;
    width: calc(100% - 15em);
    line-height: 1.25;
    font-size: 0.9rem;
}
.gc_step_item .btn,
.gc_iptfile_label {
    margin: 0;
    width: 14em;
}


/* gc_ipyfile */
.gc_iptfile {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    position: relative;
    width: 100%;
}
.gc_iptfile input[type="file"] {
    display: none;
}
.gc_iptfile_label {
    box-sizing: border-box;
    background-color: #43ac6a;
    border-bottom: 2px solid #067913;
    transition: .3s;
    min-width: 6rem;
    color: #fff;
    font-weight: 900;
    font-size: 0.9rem;
    font-family: FontAwesome;
    font-style: normal;
    display: inline-block;
    border-radius: 4px;
    padding: 8px 12px;
    line-height: 100%;
    text-align: center;
    text-shadow: none;
    text-transform: none;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.gc_iptfile_label:hover:not(.disabled) {
    background-color: #409206;
}
.gc_iptfile_label.disabled {
    border: 1px solid #bbb;
    background: #f7f7f7;
    color: #bdbcbc;
    pointer-events: none;
    opacity: .5;
    cursor: not-allowed;
}
.gc_iptfile_filename {
    box-sizing: border-box;
    margin-left: 1em;
    width: calc(100% - 15em);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    border: 1px solid #e3e3e3;
    padding: 8px 10px;
    line-height: 1;
}
.gc_iptfile_filename.disabled {
    opacity: .5;
    color: #bdbcbc;
    user-select: none;
}


/* gc_column */
.gc_column{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 0 10px 0;
    width: 100%;
}
.gc_column_col{
    width: calc(50% - 2em);
}
.gc_column_col:nth-child(even){
    margin-left: 4em;
}
.gc_column_col.gc_column_tight{
    width: calc(50% - 1em);
}
.gc_column_col.gc_column_tight:nth-child(even){
    margin-left: 1em;
}
.gc_column_col.gc_column_col_full{
    width: 100%;
}

/* gc_field */
.gc_field{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}
.gc_field_label{
    box-sizing: border-box;
    font-style: normal;
    padding-right: 1em;
    margin-bottom: 0;
    width: 12em;
    font-szie: 0.95em;
}
.gc_field_label::after{
    content:"\FF1A";
    display: inline-block;
}
.gc_field_ipt,
input.gc_field_ipt[type=text]{
    height: 30px;
}
.gc_field .gc_field_ipt{
    width: calc(100% - 12em);
}
.gc_field select.gc_field_ipt:focus{
    border-color: #6e6e6e;
    box-shadow: 0 0 6px 0 #6e6e6e, inset 0 0 4px 0 rgba(0,0,0,0.15);
}
.gc_field_ipt_opt{
    margin-left: 1em;
    white-space: nowrap;
}
.gc_field_ipt_chk{
    margin-right: .5em;
}
.gc_field_connect{
    margin: 0 -.5em 0 .5em;
    vertical-align: middle;
}
.gc_field_group{
    display: flex;
    align-items: center;
    width: calc(100% - 12em);
}
.gc_field_group .gc_field_ipt:not(:first-child){
    margin-left: 1em;
}

/* gc_require */
.gc_require{
    box-sizing: border-box;
    color: red;
    display: inline-block;
    font-size: .8rem;
    margin-right: -4em;
    padding-left: .5em;
    white-space: nowrap;
}


/* gc_fieldset */
.gc_fieldset{
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.gc_fieldset_wrap{
    display: flex;
    align-items: center;
    width: 100%;
}
.gc_fieldset_label{
    color: #3C3C3C;
    font-family: "Meiryo","Hiragino Kaku Gothic ProN","MS P Gothic",Verdana,Arial,Helvetica,sans-serif;
    text-shadow: 0 1px rgba(255,255,255,0.4);
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-style: normal;
    padding-right: 1em;
    width: 12em;
}
.gc_fieldset_ipt{
    padding-top: .3em;
}
.gc_fieldset_label::after{
    content:"\FF1A";
    display: inline-block;
}
.gc_fieldset_label_radio{
    display: inline-block;
    margin-bottom: 0;
}
.gc_fieldset_label_radio:not(:first-child){
    margin-left: 1.25em;
}
.gc_fieldset_ipt_radio{
    display: inline-block;
    vertical-align: middle;
    margin: -.25em .5em 0 0!important;
}


/* gc_mail_conf */
.gc_mail_conf{
    background-color: #ededed;
    padding: 1em;
}
.gc_mail_conf_ex{
    margin: 0 0 10px;
    padding: 0;
    list-style: none;
}
.gc_mail_conf_ex_item{
    font-size: .8em;
}
.gc_mail_conf_field:not(:last-child){
    margin-bottom: 10px;
}
.gc_mail_conf_label{
    display: block;
    margin-bottom: 5px;
}
.gc_mail_conf_label::after{
    content:"\FF1A";
    display: inline-block;
}
.gc_mail_conf_ctl{
    width: 100%;
}
textarea.gc_mail_conf_ctl {
    min-height: 200px;
}

/* gc_desctbl */
.gc_desctbl{
    margin-bottom: 30px;
}
.gc_desctbl_row{
    display: flex;
    margin-bottom: 10px;
}
.gc_desctbl_label{
    box-sizing: border-box;
    font-style: normal;
    padding-right: 1em;
    width: 15em;
}
.gc_desctbl_label::after{
    content:"\FF1A";
    display: inline-block;
}
.gc_desctbl_data{
    width: 100%;
}


/* gc_btn_cta */
.gc_btn_cta{
    margin-bottom: 30px;
}
.gc_btn_cta.gc_btn_cta_center{
    text-align: center;
}
.gc_btn_cta.gc_btn_cta_right{
    text-align: right;
}
.gc_btn_cta button.btn{
    width: 200px;
    margin: 0;
}
.gc_btn_cta button.btn .fa{
    font-size: 1.15em;
    display: inline-block;
    vertical-align: middle;
    margin: -.1em .3em 0 0;
}


/* ga_adduser */
.gc_adduser{
    background-color: #EDEDED;
    box-sizing: border-box;
    display: flex;
    margin: 0 auto 30px;;
    padding: 10px;
    width: 500px;
}
.gc_adduser_input{
    width: 370px;
}
.gc_adduser_input:disabled::placeholder{
    color: #bdbcbc;
}
.btn.gc_adduser_btn{
    margin: 0 0 0 10px;
    width: 100px;
}
.btn.gc_adduser_btn .fa{
    font-size: 1.15em;
    display: inline-block;
    vertical-align: middle;
    margin: -.1em .3em 0 0;
}


/* ga_tab */
.gc_tab{
    margin-bottom: 30px;
}
.gc_tab_list{
    display: flex;
    list-style: none;
    margin: 0 0 30px;
    padding: 0;
    width: 100%;
}
.gc_tab_item{
    flex: 1;
    text-align: center;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #707070;
    border-radius: 5px 5px 0 0;
    padding: 1em .5em;
    cursor: pointer;
}
.gc_tab_item.gc_tab_item_gray{
    background: #cdcdcd;
}
.gc_tab_item:not(:last-child){
    margin-right: 2px;
}
.gc_tab_item.is_active,
.gc_tab_item:hover {
    background: #126F9A;
    color: #FFF;
}
.gc_tab_content {}
.gc_tab_panel {
    height: 0;
    overflow: hidden;
}
.gc_tab_panel.is_active {
    height: 100%;
}


/* ga_collapse */
.gc_collapse{}
.gc_collapse_btn{
    margin: 0 0 5px;
    background-image: none;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: #3C3C3C;
    padding: 0;
    font-size: 0.97em;
}
button.gc_collapse_btn:hover{
    background-image: none!important;
    background-color: transparent!important;
    border: 0;
    color: #3C3C3C!important;
}
.gc_collapse_btn .fa{
    margin-right: .5em;
    color: #126F9A;
}
button.gc_collapse_btn:hover .fa{
    color: #38556c;
}
.gc_collapse_btn .gc_ico_minus{
    display: none;
}
.gc_collapse_btn.is_open .gc_ico_minus{
    display: inline-block;
}
.gc_collapse_btn.is_open .gc_ico_plus{
    display: none;
}
.gc_collapse_panel{
    display: none;
}
.gc_collapse_panel.is_show{
    display: block;

}


/* ga_data_section */
.gc_data_section{
    margin-bottom: 30px;
    min-width: 918px;
}

/* gc_record_update */
.gc_record_update{
    margin-bottom: 10px;
}


/* ga_result_arrow */
.gc_result_arrow{
    text-align: center;
    margin-bottom: 30px;
}
.gc_result_arrow .fa{
    color: #ccc;
    font-size: 60px;
}


/* ga_optional */
.gc_optional{}
.gc_optional_label{
    display: inline-block;
}
.gc_optional_chk{
    margin: -.3em .5em 0 0;
    display: inline-block;
    vertical-align: middle;
}


/* gc_anchor */
.gc_anchor{
    text-align: right;
    margin-bottom: 20px;
}
.gc_anchor a{
    display: inline-block;
    line-height: 1.5;
}
.gc_anchor a .fa{
    margin: -.1em .25em 0 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.25em;
}


/* gc_pagination */
.gc_pagination{
    text-align: center;
    margin-top: 20px;
}
.gc_pagination_list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.gc_pagination_page{
    display: inline-block;
}
.gc_pagination_page a{
    background-color: #fff;
    color: #666;
    display: block;
    padding: .5em;
    border: solid 1px #ccc;
    text-decoration: none;
}
.gc_pagination_page a.is_active,
.gc_pagination_page a:hover{
    background-color: #126F9A;
    color: #fff;
}


/* gc_btn_group */
.gc_btn_group{
    margin-bottom: 30px;
}
.gc_btn_group button.btn{
    margin: 0;
}
.gc_btn_group button.btn .fa{
    margin: -.1em .25em 0 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 1em;
}
.gc_btn_group button.btn:not(:first-child){
    margin-left: 10px;
}


/* gc_download */
.gc_download{
    margin-bottom: 30px;
    display: flex;
    width: 100%;
}
.gc_download_btn{
    width: 35%;
}
.gc_download_btn button.btn{
    margin: 0;
    width: 100%;
}
.gc_download_chk{
    padding-left: 3em;
}
.gc_download_chk_label{
    font-style: normal;
}
.gc_download_chk_ctl{
    height: 1em;;
    width: 1em;
    margin-left: -1.5em;
    margin-right: .5em;
}

.gc_task_history_text::after {
    clear: both;
    content: ".";
    display: block;
    visibility: hidden;
    height: 0;
    font-size: 0;
}
.gc_task_history_text_left {
    width: 30%;
    float: left;
}
.gc_task_history_text_right {
    width: 70%;
    float: right;
    text-align: right;
}
.gc_task_history_text_right span {
    display: inline-block;
    padding-top: 10px;
}
.gc_task_history_grid {
    min-width: 920px;
    width: 98%;
    height: 201px;
}

/* ga_helperClass */
/* margin-top */
.gc_mt10{
    margin-top: 10px!important;
}
.gc_mt20{
    margin-top: 20px!important;
}
.gc_mt30{
    margin-top: 30px!important;
}
/* margin-bottom */
.gc_mb10{
    margin-bottom: 10px!important;
}
.gc_mb20{
    margin-bottom: 20px!important;
}
.gc_mb30{
    margin-bottom: 30px!important;
}


/* em width */
.gc_w5em{
    width: 5em!important;
}
.gc_w6em{
    width: 6em!important;
}
.gc_w7em{
    width: 7em!important;
}
.gc_w8em{
    width: 8em!important;
}
.gc_w9em{
    width: 9em!important;
}
.gc_w10em{
    width: 10em!important;
}
.gc_w15em{
    width: 15em!important;
}
.gc_w20em{
    width: 20em!important;
}
.gc_w25em{
    width: 25em!important;
}
.gc_w30em{
    width: 30em!important;
}
.gc_w35em{
    width: 35em!important;
}
.gc_w40em{
    width: 40em!important;
}






/* --------------------------- ▽W2UI --------------------------------- */

.w2ui-reset * {
    /* 	line-height: 1.2; */
}

.w2ui-field {
    clear: both;
}

#grid, #grid a {
    font-family: "Meiryo", "Hiragino Kaku Gothic ProN", "MS P Gothic", Verdana, Arial, Helvetica, sans-serif !important;
    text-transform: none;
    font-size: 13px;
}

.w2ui-grid .w2ui-grid-body table td.w2ui-grid-data > div {
    padding: 6px 5px 3px;
    font-size: 13px;
}

.w2ui-grid .w2ui-toolbar-search .w2ui-search-down {
    margin-top: 3px;
}

.w2ui-col-on-off tr:nth-last-child(1),
.w2ui-col-on-off tr:nth-last-child(2),
.w2ui-col-on-off tr:nth-last-child(3),
.w2ui-grid .w2ui-footer-left {
    display: none;
}

.w2ui-group {
    background-color: #ebecef;
    margin: 5px 0px 10px 0px;
    padding: 20px 10px;
    /* border-top: 1px solid #cedcea; */
    border: 1px solid #cedcea;
    max-width: 94%;
    margin: 0 auto;
}

.w2ui-group.height3 .w2ui-field {
    height: 3rem;
}

a#add-detail, a#add-additional {
    color: #2196f3;
    line-height: 1.6;
    font-size: 1rem;
}

a#add-detail:before, a#add-additional:before {
    content: " + ";
}

.w2ui-form .w2ui-page {
    padding: 20px;
}

.w2ui-grid .w2ui-grid-body table .w2ui-col-number div {
    padding: 6px 6px 0px 3px !important;
    text-align: right;
}

.w2ui-overlay .w2ui-grid-searches table td.operator select {
    /* Add */
    background-image: none;
    min-width: 4rem;
}

/* Chrome Only */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .w2ui-overlay .w2ui-grid-searches table td.operator select {
        padding: 9px 3px 7px 5px;
        min-width: 4rem;
        min-height: 1.5rem;
    }
}

.w2ui-marker {
    background-color: #fff59d;
    color: #0d47a1;
    padding: 0 1px 4px;
    border: 1px solid #ffeb3b;
}

/* ----- Link ----- */

.w2ui-icon-columns:before {
    cursor: pointer;
}

/* ----- ▽ Search Style ----- */
.w2ui-toolbar table.w2ui-button {
    margin: -2px 5px 0;
    border-radius: 3px;
    height: 24px;
    border: 1px solid transparent;
    background-color: transparent;
    box-shadow: 0px 1px 1px 0px #aaa;
    background-color: #fff;
}

.w2ui-toolbar table.w2ui-button .w2ui-tb-image {
    width: 24px;
    height: 23px;
    padding: 0px;
    margin: 2px 2px 2px 3px !important;
    border: 0px !important;
    text-align: center;
    cursor: pointer;
}

.w2ui-toolbar table.w2ui-button .w2ui-tb-image > span {
    font-size: 20px;
    margin: 0px 1px 1px 1px;
    color: #008cba;
    text-shadow: 1px 1px 2px #aaa;
}

.w2ui-grid .w2ui-toolbar-search .w2ui-search-all {
    width: 245px;
    height: 28px;
    border-radius: 12px;
    border: 1px solid #b9b9b9;
    color: #000;
    background-color: #fff;
    padding: 3px 18px 3px 24px;
    margin: -2px -2px 0px 15px;
    cursor: pointer;
}

w2ui-grid .w2ui-toolbar-search .w2ui-search-down {
    margin: 3px 3px 3px 20px;
}

.w2ui-icon.icon-search, .w2ui-icon.icon-search-down {
    background-size: 25px 25px !important;
    opacity: 1.0;
    cursor: pointer;
}

.w2ui-icon.icon-search,
.w2ui-icon.icon-search-down {
    background: none !important;
    /*   background-size: 14px 12px !important; */
    opacity: 0.9;
}

.w2ui-icon.icon-search,
.w2ui-icon.icon-search-down:after {
    content: " \f00e";
    font-family: FontAwesome;
    color: #008cba;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    left: 13px;
    top: 2px;
}

.w2ui-grid .w2ui-toolbar-search .w2ui-search-clear:before {
    top: 0px;
    left: 5px;
}

.w2ui-icon {
    width: 30px;
    height: 30px;
}

.w2ui-grid .w2ui-toolbar-search .w2ui-search-clear {
    position: absolute;
    width: 16px;
    height: 16px;
    margin-top: 4px;
    margin-left: -19px;
    border-radius: 15px;
    cursor: default;
}

.w2ui-grid .w2ui-toolbar-search .w2ui-search-clear:before {
    top: 1px;
    left: 4px;
}

.w2ui-toolbar table.w2ui-button .w2ui-tb-caption {
    color: #0098b2;
    padding: 0px 0px 0px 2px;
    position: relative;
    left: 90px;
    top: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    border-bottom: 1px solid #0098b2 !important;
    /* text-align: center; */
}

td.w2ui-tb-caption:hover {
    color: #43b3cf !important;
}

.w2ui-overlay-searches-achievement-grid:before {
    margin-left: 60px;
}

/* ----- △ Search Style ----- */

/*  Tool chip  Overlay*/
.w2ui-overlay {
    margin-top: 3px;
    /* 	opacity: 0.9; */
    padding: 0 10px 10px;
}

.w2ui-overlay table td {
    font-size: 1rem;
    vertical-align: baseline;
    line-height: 1.5;
}

/* Table Style */
.w2ui-grid .w2ui-grid-body table td.w2ui-grid-data > div {
    padding: 5px 5px 3px 5px;
    font-size: 0.88rem;
}

.w2ui-grid .w2ui-grid-body table .w2ui-head > div {
    padding: 7px 5px;
}

.w2ui-grid .w2ui-grid-body .w2ui-grid-records table tr.w2ui-even {
    color: inherit;
    background-color: #e3ebf5;
}

/* --- other ----- */
.member-list table th {
    font-size: 0.9rem;
    line-height: 1.6;
    color: #777;
    text-align: left;
}

tr#member-detail {
    font-size: 1.1rem;
    color: #43ac6a;
}

.w2ui-overlay .w2ui-grid-searches table td.value input[type=text] {
    min-height: 23px;
    height: auto;
}

.w2ui-overlay .w2ui-grid-searches table td.close-btn button {
    min-width: 30px;
    height: 30px;
    padding-top: 6px !important;
}

.w2ui-centered {
    top: 40%;
    font-size: 1.2rem !important;
    color: #c33;
    font-weight: 900;
}

w2ui-popup .w2ui-msg-title {
    padding: 8px;
}

/* ----- organization  manager----- */
#form.field-area {
    width: 800px;
}

#form.field-area .w2ui-field label {
    width: 200px;
}

/* ----- achievement ----- */
#update-datetime span.status {
    margin-left: 10px;
}

/* ----- course_operation ----- */
#list-students {
    margin: 1rem;
    width: 90%;
}

#register-btn, #bulk-unregister-btn, #bulk-personalinfo-mask-btn {
    padding: 0.3rem 1rem;
}

#form p.operation,
#form span.operation {
    font-size: 1rem;
}

#form label.encoding-utf8 {
    font-size: 0.8rem;
    font-weight: normal;
    font-style: normal;
}