<%inherit file="../main_biz.html" />
<%namespace name="static" file="../static_content.html" />
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
%>

<%block name="pagetitle">${_('Score Status')}</%block>

<%block name="js_extra">
<script type="text/javascript">
    var grid = grid || [];

    $(function () {
        function lock() {
            w2utils.lock($('.biz-wrap'), '', true);
        }
        function unlock() {
            w2utils.unlock($('.biz-wrap'));
        }
        function validate_number_text() {
            var success = true;
            var $ul = $('<ul class="messages" />');
            var $error_area = $("#error_area").empty().hide();
            var el = $("#total_score_from");
            if(el.val() != "" && !w2utils.isInt(el.val())){
                success = false;
                $ul.append('<li class="error">${_("Total Score(From) value must be an integer.")}</li>');
                $error_area.append($ul).show();
            }
            el = $("#total_score_to");
            if(el.val() != "" && !w2utils.isInt(el.val())){
                success = false;
                $ul.append('<li class="error">${_("Total Score(To) value must be an integer.")}</li>');
                $error_area.append($ul).show();
            }
            for (var i=1; i <= 5; i++) {
                el = $("#detail_condition_score_from_" + i);
                if (el.val() != "" && !w2utils.isInt(el.val())) {
                    success = false;
                    $ul.append('<li class="error">${_("Section Score(From) value must be an integer.")}</li>');
                    $error_area.append($ul).show();
                }
                el = $("#detail_condition_score_to_" + i);
                if (el.val() != "" && !w2utils.isInt(el.val())) {
                    success = false;
                    $ul.append('<li class="error">${_("Section Score(To) value must be an integer.")}</li>');
                    $error_area.append($ul).show();
                }
            }
            fit_wrapper_height();
            return success;
        }

        function createColumn(field, caption, type) {
            var column = {
                field: field,
                caption: caption,
                sortable: true,
                size: '10%',
                min: 80
            };
            switch (type) {
                case 'text':
                    column['searchable'] = true;
                    break;
                case 'date':
                    column['type'] = 'date';
                    column['render'] = 'date: yyyy/mm/dd';
                    column['searchable'] = true;
                    break;
                case 'percent':
                    column['render'] = renderPercent;
                    column['style'] = 'text-align: right';
                    break;
                case 'hidden':
                    column['searchable'] = true;
                    column['hidden'] = true;
                    break;
            }
            return column;
        }
        // collapse
        $(".gc_collapse button").on("click", function() {
            var $keBtn = $(this);
            var $tgtPnl = $(this).next(".gc_collapse_panel");
            $keBtn
                .attr('aria-expanded', function (i, attr) { return attr === 'true' ? 'false' : 'true'})
                .toggleClass('is_open');
            $tgtPnl
                .attr('aria-hidden', function (i, attr) { return attr === 'true' ? 'false' : 'true'})
                .toggleClass('is_show');

            fit_wrapper_height();
        });

        function fit_wrapper_height() {
            var sHeight = $('.side').height();
            var mHeight = $('.main').height();
            var height = mHeight > sHeight ? mHeight - 200 : sHeight;
            $('.content-wrapper').height(height);
        }

        var responseColumns = ${score_columns};
        var responseRecords = ${score_records};
        var columnGroups = [],
            columns = [];
        if (responseRecords.length > 0) {
            for (var i = 0; i < responseColumns.length; i++) {
                var responseColumn = responseColumns[i],
                    splitNames = responseColumn[0].split('___', 2);
                if (splitNames.length === 2) {
                    if (columns.length > 0 && columns[columns.length - 1].field.split('___', 2)[0] === splitNames[0]) {
                        columnGroups[columnGroups.length - 1].span++;
                    } else {
                        columnGroups.push({caption: splitNames[0], span: 1});
                    }
                    columns.push(createColumn(responseColumn[0], splitNames[1], responseColumn[1]));
                } else {
                    columnGroups.push({master: true});
                    columns.push(createColumn(responseColumn[0], responseColumn[0], responseColumn[1]));
                }
            }
        }

        var score_grid = $('#grid').w2grid({
            name: 'score_status',
            fixedBody: true,
            show: {
                toolbar: true,
                footer: true,
                toolbarReload: false,
                toolbarColumns : true,
            },
            columnGroups: columnGroups,
            columns: columns,
            records: responseRecords
        });
        grid.push(score_grid);

        // Prevent double click
        $('#download-btn').on('click',function () {
            var $btn = $(this);
            $btn.attr('disabled', true);
            // Using jquery.fileDownload.js
            $.fileDownload("${reverse('biz:achievement:score_download_csv')}", {
                    httpMethod: "POST",
                    data: {"csrfmiddlewaretoken": $.cookie("csrftoken"),"encode":$('#score').find('[name=encode]').prop('checked')}
                })
                .always(function () {
                    $btn.attr('disabled', false);
                });
            return false;
        });

        // Prevent double click
        $('#search-download-btn').on('click',function () {
            var $btn = $(this);
            var postData = {
                "csrfmiddlewaretoken": $.cookie("csrftoken"),
                "search-download": "search-download",
                "encode":$('#score').find('[name=encode]').prop('checked')
            };
            $.each($('#form').find('textarea,input,select').serializeArray(), function(i, value){
                postData[value.name] = value["value"];
            });
            $btn.attr('disabled', true);
            // Using jquery.fileDownload.js
            $.fileDownload("${reverse('biz:achievement:score_download_csv')}", {
                    httpMethod: "POST",
                    data: postData
                })
                .always(function () {
                    $btn.attr('disabled', false);
                });
            return false;
        });

        $('#search').on('click', function () {
            if (!validate_number_text()) { return false }
            lock();
            var clickButton = $(this);
            var formData = new FormData($('#form').get(0));
            $.ajax({
                url: clickButton.data('endpoint'),
                type: 'POST',
                cache: false,
                data: formData,
                processData: false,
                contentType: false,
                traditional: true
            }).done(function (data) {
                w2ui['score_status'].records = data.score_records_json ? JSON.parse(data.score_records_json) : [];
                w2ui['score_status'].total = w2ui['score_status'].records.length;
                w2ui['score_status'].refresh();
            }).fail(function(jqXHR) {
                console.log(jqXHR);
            }).always(function () {
                unlock();
            });
            return false;
        });
        w2utils.unlock($('#grid'), '', true);
    });

</script>
<style>
    .w2ui-grid .w2ui-grid-body table .w2ui-head > div,
    .w2ui-grid .w2ui-grid-body table td.w2ui-grid-data > div {
        font-size: 0.6rem;
    }
    .content-wrapper {
        min-height: 950px;
    }
    .gc_download {
        margin-bottom: 20px;
    }
    .chk_encode {
        margin-right: 0.5em;
    }
    .gc_download_chk {
        float: right;
        text-align: center;
        padding-left: 0em;
        font-size: 0.8rem;
        font-weight: normal;
        font-style: normal;
    }
</style>
</%block>

<%block name="custom_content">

<div id="error_area" class="gc_error_area"></div>
<div class="gc_content">
    <div class="gc_column_col gc_column_col_full gc_mb30">
        <p>${_("Maximum display number is 100.<br/>Please refine it to 10,000 or less by condition search, or use 'Download all' function.")}</p>
    </div>
    <form id="form">
        <div class="gc_column">
            <div class="gc_column_col gc_column_col_full">
                % if is_status_managed:
                <div class="gc_field">
                    <label class="gc_field_label" for="student_status">${_('Student Status')}</label>
                    <select id="student_status" class="gc_field_ipt gc_w10em" name="student_status">
                        <option value=""></option>
                        % for status in student_status:
                        <option value="${_(status)}">${_(status)}</option>
                        % endfor
                    </select>
                </div>
                % endif
                <div class="gc_field">
                    <label class="gc_field_label" for="certificate_status">${_('Certificate Status')}</label>
                    <select id="certificate_status" class="gc_field_ipt gc_w10em" name="certificate_status">
                        <option value=""></option>
                        % for status in certificate_status:
                        <option value="${_(status)}">${_(status)}</option>
                        % endfor
                    </select>
                </div>
                <div class="gc_field">
                    <label class="gc_field_label" for="group_code">${_('Select Organization')}</label>
                    <select id="group_code"  class="gc_field_ipt gc_w30em" name="group_code">
                        <option value=""></option>
                        % for option in group_list:
                        <option value="${option[1]}">${option[2] | h}</option>
                        % endfor
                    </select>
                </div>
                <div class="gc_field">
                    <fieldset class="gc_fieldset">
                        <div class="gc_fieldset_wrap">
                            <legend class="gc_fieldset_label">${_("Total Score")}</legend>
                            <div class="gc_field_group">
                                <input id="total_score_from" class="gc_field_ipt gc_w5em js_search_validate_int_from"
                                       name="total_score_from" type="text" />
                                <span class="gc_field_connect">〜</span>
                                <input id="total_score_to" class="gc_field_ipt gc_w5em js_search_validate_int_to"
                                       name="total_score_to" type="text" />
                                (&#37;)
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        <!-- /.gc_column --></div>
        <div class="gc_collapse">
            <button class="gc_collapse_btn" aria-controls="collapse_panel01" aria-expanded="false" type="button"><i
                    class="fa fa-plus-square gc_ico_plus" aria-hidden="true"></i><i
                    class="fa fa-minus-square gc_ico_minus" aria-hidden="true"></i>${_("Search Detail(Score)")}</button>
            <div class="gc_collapse_panel" aria-hidden="true" id="collapse_panel01">
                <div class="gc_column">
                    <div class="gc_column_col gc_column_col_full">
                    % for i in range(1, 6) :
                        <div class="gc_field">
                            <fieldset class="gc_fieldset">
                                <div class="gc_fieldset_wrap">
                                    <legend class="gc_fieldset_label gc_w10em" for="sdc_score_name_${i}">${_("Search Condition")}${i}</legend>
                                    <div class="gc_field_group">
                                        <select id="sdc_score_name_${i}" class="gc_field_ipt gc_w20em" name="detail_condition_score_name_${i}">
                                            <option value=""></option>
                                            % for name in score_section_names :
                                            <option value="${name}">${name}</option>
                                            % endfor;
                                        </select>
                                        <input class="gc_field_ipt gc_w5em js_search_validate_int_sec_from" rel="search" type="text"
                                               name="detail_condition_score_from_${i}" id="detail_condition_score_from_${i}" title="" value="" maxlength="10" />
                                        <span class="gc_field_connect">〜</span>
                                        <input class="gc_field_ipt gc_w5em js_search_validate_int_sec_to" rel="search" type="text"
                                               name="detail_condition_score_to_${i}" id="detail_condition_score_to_${i}" title="" value="" maxlength="10" />
                                        (&#37;)
                                        <label class="gc_field_ipt_opt" for="sdc_score_no_${i}">
                                            <input id="sdc_score_no_${i}" class="gc_field_ipt_chk" rel="search"
                                                type="checkbox" name="detail_condition_score_no_${i}" title="" value="" />
                                            ${_("Unanswered")}
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    % endfor;
                    </div>
                </div>
            </div>
        <!-- / .gc_collapse" --></div>
        <div class="gc_collapse">
            <button class="gc_collapse_btn" aria-controls="collapse_panel03" aria-expanded="false"
                    type="button"><i class="fa fa-plus-square gc_ico_plus" aria-hidden="true"></i><i
                    class="fa fa-minus-square gc_ico_minus" aria-hidden="true"></i>${_("Search Detail(Other)")}</button>
            <div class="gc_collapse_panel" aria-hidden="true" id="collapse_panel03">
                <div class="gc_column">
                    <div class="gc_column_col gc_column_col_full">
                    % for i in range(1, 6) :
                        <div class="gc_field">
                            <fieldset class="gc_fieldset">
                                <div class="gc_fieldset_wrap">
                                    <legend class="gc_fieldset_label gc_w10em" for="sdc_member_name_${i}">${_("Search Condition")}${i}</legend>
                                    <div class="gc_field_group">
                                        <select id="sdc_member_name_${i}" class="gc_field_ipt gc_w15em" name="detail_condition_member_name_${i}">
                                            <option value=""></option>
                                            % for key in member_org_item_list :
                                                <option value="${key}">${member_org_item_list[key]}</option>
                                            % endfor;
                                        </select>
                                        <input class="gc_field_ipt gc_w30em" rel="search" type="text"
                                               name="detail_condition_member_${i}" title="" value="" maxlength="255" />
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    % endfor;
                    </div>
                </div>
            </div>
        <!-- / .gc_collapse" --></div>
        <div class="gc_btn_cta gc_btn_cta_center">
            <button id="search" class="btn btn-blue gc_btn_search" name="search"
                    data-endpoint="${reverse('biz:achievement:score_search_ajax')}" type="search">${_("Search")}</button>
        <!-- /.gc_btn_cta --></div>
        <input type="hidden" id="offset" name="offset" value="0">
        <input type="hidden" id="limit" name="limit" value="100">
    </form>
    <div class="gc_data_section">
        <p class="gc_record_update">
            ${_("It is {0} up to the day the record update.").format(_("Score Status"))}<br>
            ${_('Record Update Datetime')}：${update_datetime} ${update_status if update_status else _('No records')}
        </p>
        <div id="grid" style="height: 610px; min-width: 918px; max-width: 1168px;"></div>
    </div>

    <form id="score" method="get">
        <div class="gc_download">
            <div class="gc_download_btn">
                <button id="download-btn" class="btn btn-grn" type="button">${_('Download All Students')}</button>
            </div>
            <div class="gc_download_btn">
                <button id="search-download-btn" class="btn btn-grn" type="button">${_('Download Searched Students')}</button>
            </div>
        </div>
        <div class="gc_fieldset_ipt_center">
            <label class="gc_optional_label">
                <input class="chk_encode" type="checkbox" name="encode"/><p class="gc_download_chk">${_("If you want to download the score in UTF-16, please place a check mark and then push the button.")}</p></label>
        </div>
    </form>
</div>

<script type="text/javascript">
    w2utils.lock($('#grid'), '', true);
</script>
</%block>
