<%inherit file="../main_biz.html" />
<%namespace name="static" file="../static_content.html" />
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
%>

<%block name="pagetitle">${_('Score Status')}</%block>

<%block name="js_extra">
<script type="text/javascript">
    var grid;
    $(function () {
        var scoreColumns = ${score_columns},
            scoreRecords = ${score_records},
            searches = [],
            columns = [];
        if (scoreRecords.length > 0) {
            for (var i = 0; i < scoreColumns.length; i++) {
                var scoreColumn = scoreColumns[i];
                if (scoreColumn[1] === 'text') {
                    searches.push({
                        field: scoreColumn[0],
                        caption: scoreColumn[0],
                        type: "text"
                    });
                    columns.push({
                        field: scoreColumn[0],
                        caption: scoreColumn[0],
                        searchable: true,
                        sortable: true,
                        size: "10%",
                        min: 80
                    });
                } else if (scoreColumn[1] === 'date') {
                    searches.push({
                        field: scoreColumn[0],
                        caption: scoreColumn[0],
                        type: "date"
                    });
                    columns.push({
                        field: scoreColumn[0],
                        caption: scoreColumn[0],
                        searchable: true,
                        sortable: true,
                        type: "date",
                        render: "date: yyyy/mm/dd",
                        size: "10%",
                        min: 80
                    });
                } else if (scoreColumn[1] === 'percent') {
                    columns.push({
                        field: scoreColumn[0],
                        caption: scoreColumn[0],
                        sortable: true,
                        render: renderPercent,
                        style: "text-align: right",
                        size: "10%",
                        min: 80
                    });
                }
            }
        }

        grid = $('#grid').w2grid({
            name: 'score_status',
            fixedBody: true,
            selectType : 'cell',
            show: {
                toolbar: true,
                footer: true,
                toolbarReload: false
            },
            searches: searches,
            columns: columns,
            records: scoreRecords
        });
    });

    // Prevent double click
    $('form#download-form').submit(function () {
        $('#download-btn').attr('disabled', true);
        // Using jquery.fileDownload.js
        $.fileDownload("${reverse('biz:achievement:score_download_csv')}", {
                httpMethod: "POST",
                data: {"csrfmiddlewaretoken": $.cookie("csrftoken")}
            })
            .always(function () {
                $('#download-btn').attr('disabled', false);
            });
        return false;
    });
</script>
<style>
    .w2ui-grid .w2ui-grid-body table .w2ui-head > div,
    .w2ui-grid .w2ui-grid-body table td.w2ui-grid-data > div {
        font-size: 0.6rem;
    }
    #tb_score_status_toolbar_item_w2ui-column-on-off {
        display: none;
    }
</style>
</%block>

<%block name="custom_content">
<div id="update-datetime">
    <label>${_('Record Update Datetime')}：</label><span class="datetime">${update_datetime}</span><span class="status">${update_status if update_status else _('No records')}</span>
</div>

<div id="grid"></div>

<form id="download-form" method="get">
    <input type="submit" id="download-btn" value="&#xf1c3 ${_('All CSV Download')}" />
</form>
</%block>
